/*
Theme Name: Weddings
Theme URI: https://web-dorado.com/wordpress-themes/wedding.html
Author: web-dorado.com
Author URI: https://web-dorado.com/
Text Domain: weddings
Description: Weddings is an elegant, responsive WordPress theme designed for wedding websites. The theme includes multiple pages, homepage slider and gallery support.  It uses special pages to deliver the story of the bride and the bridegroom, as well as wedding details and to create online invitations. The theme can also be used for the wedding photographers and any other event organization websites with its capacity of editable color schemes, layout and styles. The marketing component can be ensured with the help of testimonials and advertisement features.
Weddings Theme, Copyright 2015 web-dorado.com
Weddings is distributed under the terms of the GNU GPL
Version: 1.0.12
Tags: black, blue, brown, gray, green, orange, pink, purple, red, silver, tan, white, yellow, dark, light, custom-menu, custom-header, custom-background, featured-images, custom-colors, flexible-header, full-width-template, one-column, two-columns, three-columns, right-sidebar, theme-options, threaded-comments, fluid-layout, responsive-layout
License: GNU General Public License v3 or later
License URI: license.txt
*/

pre,p{
	word-wrap: break-word !important;
}

.screen-reader-text {
	display: none;
}

#content.page .blog-post img, #content .blog-post img{
  margin: 0 10px 10px 0;
  max-width: 100% !important;
  height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}
.video-container object,
.video-container embed,
.video-container iframe  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignnone {
    margin: 0;
}
.sticky{
	display:none;
}
.gallery-caption{
	display:none;
}
.clear_both{
	width:100%;
}
#blog > div.clear_both{
	background:none;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}



.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

body {
	margin:0px;
	padding:0px;
}


:-webkit-input-placeholder {
	color: #373636;
	font-weight: normal;
}

:-moz-placeholder {
  color: #373636;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6{
	word-wrap: break-word !important;
}

h1{
   font-size:45px;
}

h2{
   font-size:35px;
}

h3{
   font-size:30px;
}

h4{
	font-size: 24px;	
}

h5{
	font-size: 20px;
}

h6{
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6, form, p, ul, ol, dl, li {
	margin:0px;
	padding:0px;
	list-style: none;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
ul, ol{
list-style-position: inside;
}

.blog > h2{
	text-align: left;
	font-size: 30px;
	display: block;
	padding-bottom: 20px;
	margin: 0 auto;
	font-weight: 700;
	margin-top: 45px;
	border-bottom: 3px solid #F3F3F3;	
}

.blog_gal > h2,
.blog_testim > h2{
	border-bottom: 3px solid #F3F3F3;
}

.blog_gal,
.blog_testim {
	width: 100% !important;
}

.bride img{
	float: left;
	padding-right: 15px;
}

#blog ol, #blog ul {
  padding-left: 25px; 
}
	
.widget-area h4 {
	position:relative;
	margin:0px;
	font-size:60px;
	font-weight:normal;
	text-align: center;
}

.styledHeading{
	line-height: 35px;
	padding:3px 0;
	margin-top: 1px;
}

table:not(#log_in){
 border-collapse: collapse;
}

#blog td:not(#log_in td), #blog th:not(#log_in th){
 border: 1px solid #B6B6B6;
 padding: 7px
}

.blog-post-info ul{
	padding-left:0 !important;
}

.blog_gellery .blog-post:hover{
	opacity: 0.5;
}
.blog-post a{
	font-weight: 700;
}

p{
margin: 0 0 10px;
}

#blog ul {
   list-style-type: square;
}

#test_blog{
	width: 100%;
}

address { font-style:normal;}
object {outline:none;}

.hide {display:none;}
.show {display:block;}
.clear {clear:both;}

a img {border:none;}

a.read_more, a.read-more, a.read_more:link,a.read-more:link, a.read_more:visited, a.read-more:visited {
	right:0px;
	margin-top: 10px;
	cursor:pointer;
	vertical-align:middle;
	height: 35px;
	padding:2px 10px 0px 10px;
	font-size:22px;
	text-decoration:none;
	cursor:pointer;
	
}

.more-link{
	right:0px;
	text-align:center;
	height:43px;
	padding:2px 10px 0px 10px;
	font-size:26px;
	text-decoration:none;
	bottom:0;
}

a.read_more:hover, a.read-more:hover, a.read_more:focus, a.read-more:focus, a.read_more:active, a.read-more:active {
	text-decoration:none;
}

.post{
    float: left;
    width: 97%;
}

.styled-select {
	float:left;
	height:30px;
	padding:0px 0px 0px 0px;
}

.styled-select input[type=select] {
	width:294px;
	height:30px;
	background:transparent;
	padding:0px 0px 0px 10px;
	
}


/*###################################################*/

body > div, body .container.device,  body nav  , #wrapper{
	clear:both;
	position:relative;
	padding:0px;
	width:100%;
	height:auto;
	margin:0px auto;
}

.container {
	position:relative !important;
	margin:0px auto !important;
	width: 1024px;
	display: table;
}

.container.tablet {
	width:768px;
}

.tablet #top-posts-list li a{
	
}

.container.phone {
	width:640px;
}


#header {
	position:relative;
}

#header .container{
	min-height: 140px;
}

.header-phone-block {
	width:100%;
	overflow:hidden;
}


#logo-block {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	min-height: 130px;
}

.phone #logo-block a {
	text-align: center;
}

#logo-block a div {
	position:relative;
	width:264px;
	height:122px;
	padding-top:2px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

#logo-block a img {
	display:block;
	position:relative;
	margin:0px auto;
	vertical-align:middle;
	margin-top: 35px;
	margin-left: 0px;
}

.phone #logo-block a img{
	margin: 20px 0px 0px 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#search-block {
	position:absolute;
	top: 40px;
	right:0px;
	z-index:2;
}

.phone #search-block ,.tablet #search-block{
	right:5px;
}

#search {
	position:relative;
	min-width:275px;
	height:45px;
	border:0px;
	font-size:15px;
	outline: none;
	color: rgb(170, 170, 170);
	padding-left: 10px;
	border: 1px solid #F3F3F3;
	width: 100%;
}

.sidebar-container #search{
	min-width: 100%;
	width: 95%;
	padding-left: 0;
}

.sidebar-container > li{
	list-style:none;
}

.phone #search{
	height:55px;
}

#description  p {
	width:330px !important; 
	color: #414141;
	font-size: 17px;
}

.phone #description p{
	width: 90% !important;
}

#search-submit {
	position:absolute;
	display:block;
	top:5px;
	right: 0px;
	width:39px;
	height:38px;
	background:url(images/search.png) right top no-repeat;
	cursor:pointer;
	border:0px;
	text-indent:-9999px;
}



.phone #search-submit  {
	top:10px;
	right:10px;
	background-size:100% 100%;
}



#top-nav {
	padding:0px 0px 0px 0px;
	text-align:left;
	
}



#top-nav-list {
	list-style:none;
	margin: 0 auto;
}

#top-nav-list > li,
.top-nav-list > ul > li 
 {
	position:relative;
	float:left;
	min-height:63px;
	margin:0px 0px 0px 0px;
	background: url(images/line.png) right no-repeat;
}

#top-nav-list > li.last{
	background: none;
}

.phone  #top-nav-list li{
	float: inherit;
}

#top-nav-list > li > a,#top-nav-list > li > a:link,#top-nav-list > li > a:visited ,
.top-nav-list  > ul > li  > a, .top-nav-list  > ul > li  > a:link, .top-nav-list  > ul > li  > a:visited{
	display:block;
	margin:0px 0px 0px 0px;
	padding:30px 25px 15px 25px;
	height:40px;
	font-size:16px;
	font-weight: 700;
}

#top-nav-list  li > a,#top-nav-list  li > a:link,#top-nav-list  li > a:visited {
	display:block;
	margin:0px 0px 0px 0px;
	padding: 35px 30px 20px 24px;
	height:42px;
	font-size:16px;
	border-top: 3px solid rgba(0, 0, 0, 0);
	font-weight: 700;
}


#footer-bottom{
	min-height: 50px;
	margin: 0 auto;
	text-align: center;
}

.widget_web_buis_adsens{
	width: 30.5%;
	max-height: 250px;
	font-size: initial;
	margin: 0px auto;
	text-align: center;
	display: inline-table !important;
	background: #ECECEC;
	margin-right: 15px;
	margin-left: 14px;
}

.phone #top-nav-list > li > a,.phone #top-nav-list > li > a:link,.phone #top-nav-list > li > a:visited,
.phone .top-nav-list .current-menu-item > a{
	border-bottom: 1px solid rgba(150, 150, 150, 0.3);
	padding: 20px 0px 0px 25px;
}

.phone #top-nav-list > li ul li{
	border-bottom: 1px solid rgba(150, 150, 150, 0.3);
	width: 100%;
}

.phone  #top-nav-list li.haschild > a{
	background: url(images/Menu-Recovered.png) right no-repeat;
}


#top-nav-list > li > a:hover,#top-nav-list > li > a:focus,#top-nav-list > li > a:active {
	text-decoration:none;
}

#top-nav-list > li ul {
	position:absolute;
	list-style:none;
	z-index:101;
	display:none;
	padding:0px 0px 0px 1px;
	text-align:left;
	z-index: 11;
}

#top-nav-list > li ul  li {
	position:relative;
	display:block;
	margin:0px 0px 0px -1px;
	font-size:12px;

	border-bottom: 1px solid #D2D2D2;
}

#top-nav-list > li ul ul ,
.top-nav-list > ul > li ul ul{
	top: 0px;
	left:100% !important;
} 

.phone #top-nav-list > li ul ul{
	left: 0%;
}

#top-nav-list > li > ul li{
	margin-right: 3px;
}


.phone #top-nav-list > li > ul li{
	margin-left: -1px;
	margin-right: 0px;
}

#top-nav-list > li ul li a,#top-nav-list > li ul li a:link,#top-nav-list > li ul li a:visited   {
	display:block;
	height:20px;
	font-size:12px;
	padding: 5px 45px 0px 10px;
	white-space:nowrap;
}

.web #top-nav-list > li ul li.haschild,
.tablet #top-nav-list > li ul li.haschild  {
	background: url(images/menu-pnt.png) 95% no-repeat;
}

#top-nav-list > li ul li a:hover,#top-nav-list > li ul li a:focus ,#top-nav-list > li ul li a:active   {
	text-decoration:none;
}

.ast-search{
	background-color: #FFF;
	position: relative;
}

.custom-header{
	width: 100%;
	height: auto;
  }

/*############SLIDESHOW################*/


.web #slideshow,
.tablet #slideshow{
	min-height: 85px;
	margin-top: -97px;
}

.phone  #slideshow{
	margin-top: -45px !important
}

.bwg_slideshow_description_text{
	padding:10px;
	font-weight: 700;
	background:rgba(250, 250, 250, 0);
}
 
.bwg_slideshow_description_text p{
	margin-bottom:0;
}

.bwg_slideshow_description_text h4{
	font-weight: normal;
}

#slideshow .container {

	width: 100% !important;
}


.slider_contener_for_exklusive{
	width: 100%;
	position:relative;
}

#slider-wrapper {	
	position:relative;
	display:block;
	margin:0px auto;
	padding:3.79% 3.3% 3.17% 3.46%;
	height:484px;
	background:url(images/slideshow.shadow.png) center center no-repeat;
	background-size:100% 100%;
}



/*############TOP POSTS################*/

#top-posts {
	height:auto;
	padding:21px 0px 0px 0px;
}


#top-posts-list{
	margin:0 auto;
}


#top-posts-list li {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	clear: both;
	padding: 30px 0px 0px 0px;
	padding-left: 16px;
}

.tablet #top-posts-list li {
	padding: 20px 0px 0px 4.5px
}

#top-posts-list li a, #top-posts-list li a:link, #top-posts-list li a:visited{
	background:none;
	
}

#top-posts-list li a img{
	min-width: 210px;
	min-height: 180px;
	height: 180px;
}

.tablet #top-posts-list li a img{
	height: 175px;
	width: 240px;
}

.phone #top-posts-list li a img{
	position: relative;
}

#top-posts-list li a div{
	vertical-align: middle;
	text-align: center;
}

.home .web .image-block{
	height: 180px;
	width: 320px; 
	margin-top: 10px; 
	margin-bottom: 0px;
}

.web .image-block{
	margin: 0 auto;
}

.tablet .image-block{
	width: 250px !important; 
	margin-bottom: 0px;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.home .phone .image-block{
	width: 100%;
	height: 180px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.phone .image-block{
	height: 200px;
}

.phone #our-staff .image-block img{
	height: 175px !important;
}

.web #top-posts-list li div.image-block {
	width: 320px !important;
	text-align: center;
}
.tablet #our_story{
	text-align: left !important;
}

.heading{
	text-align: center;
	font-size: 27px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding-bottom: 10px;
	font-weight: 700;
	padding-top: 10px;
}

#top-posts-list li a .heading {
	font-size: 30px;
	font-family: Myriad Pro;
	font-weight: 700;
	text-align: center;
}
#top-posts-list li a > strong {
	display:block;
	overflow:hidden;
}

#top-posts-list li span {
	position:relative;
	display:block;
	font-size:14px;
	margin:0px;
	margin: 0px auto;
	width: 222px;
	text-align: center;
	background: url(images/posts_bg.png) center bottom no-repeat;
	padding-bottom: 15px;
	padding-top: 25px;
}

.phone #top-posts-list li span {
	width: 100%;
	background: url(images/posts_bg1.png) center bottom no-repeat;
}

.web #top-posts .container{
	width:1024px !important;
}

#top-posts .container.phone.small_shrifts li > a{
	width:100%
}

.tablet #top-posts-list li a .heading {
	position:relative;
	margin:15px 0px 0px 0px;
	font-size:31px;
	font-weight:normal;
	text-align:center;
}

.tablet #top-posts-list li a span {
	position:relative;
	display:block;
}

.phone #top-posts-list li {
	margin:0px;
	height:108px;	
}
.phone #top-posts-list li a div{
	display:block;
	text-align:center !important;
}

.phone #top-posts-list li a strong{
	font-size:18px !important;
}

.phone #top-posts-list li a {
	height:110px;
	margin:0px;
	padding:0px 10px 0px 10%;
	text-align:left;
	margin:0px auto;
	overflow:hidden;
	
	
}

.phone #top-posts-list li a img{
	margin:0 auto !important;
}


#content {
	position:relative;
	padding:0px;
	margin:0px;
}

.page_title{
	font-size: 40px; 
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
}

#top-page {	
	text-align:left;
	margin:0px;
	border-bottom: 1px solid #B6B6B6;
	min-height:250px;
}

#top-page .blog {
	display:table;
	position:relative;
	padding:0px 0px 0px 0px;
	margin:0px;
	overflow:hidden;
}


#top-page .blog  img {
	float:left;
	margin:10px 5px -3px 0px;
	padding:0px 0px 5px 0px;
	background:url(images/top.page.img.shadow.png) center bottom no-repeat;
	
}

#top-page .blog h2 {
	display:block;
	height:45px;
	overflow:hidden;
}

#top-page .blog p {
	position:relative;
	display:block;
	height:160px;
	overflow:hidden;
	text-align:justify;
	color:#232323;
	margin:0px 5px 0px 0px;
	line-height:22px;

}

.read_more.second{
	float:right !important;
}

#top-page .blog  .read_more,#top-page .blog  .read-more{
	position:absolute;
	right: 0;
	margin:3px 2px 3px 0px;
	bottom: 0;
}


/*############PHONE BLOG#################*/

.phone .blog {width:100% !important;}

.single-post {
	width: auto !important;
}

.single-post .entry .single_image img{
	float: left;
	padding-right: 15px;
	min-height: 100px !important;
}

.single-post .entry{
	margin-bottom: 15px;
	float: none;
}

.single-post img{
	max-width: 100%;
	height: auto;
}

.imgBox{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#blog {
	position:relative;
	z-index: 1;
	margin: 0 auto;
}

.home #blog > div .blog-post {
	float: left;
	width: 33.3%;
	height: 165px;
	transition: all 0.5s;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: translateZ(0px);
	display: block;
}

.home .tablet #blog > div .blog-post {
	width: 50%;
}

.blog_wel p, 
.page_content {
	text-align: center;
	font-style: italic;
	line-height: 28px;
	font-size: 18px;
}

.tablet #sidebar3.widget-area .sidebar-container > div,
.tablet #sidebar4.widget-area .sidebar-container > div{
	width: 98%;
}

.web #sidebar1 .sidebar-container,
.web #sidebar2 .sidebar-container,
.tablet #sidebar1 .sidebar-container,
.tablet #sidebar2 .sidebar-container {
	padding-left: 10px;
}

.tablet #sidebar1 .sidebar-container,
.tablet #sidebar2 .sidebar-container {
	width: 100%;
	text-align: center;
	padding: 0px !important;
}

.web #sidebar1 .sidebar-container,
.web #sidebar2 .sidebar-container{
	margin-right: 20px;
	margin-left: 20px;
}

#blog_posts > div{
	margin-top: 55px;
}

.home .phone #blog > div .blog-post {
	float: right;
	width: 100%;
	height: 130px;
 }

.blog_test img{
	float: left;
	margin-right: 15px;
	min-width: 130px;
	min-height: 130px;
}

.blog_test div{
	clear: both;
	margin: 4px 0px 10px 0px;
	list-style: none;
	width: 70%;
	display: initial;
}

.blog_test div a{
	font-size: 23px;
}

ul.testimonials li {
	clear: both;
	margin: 18px 2% 10px 0px;
	list-style: none;
	display: inline-table;
	width: 47%;
	list-style: none;
	line-height:23px;
}

.partners{
	text-align: center;
}

.tablet ul.testimonials li,
.phone ul.testimonials li{
	width: 100% !important;
}

ul.testimonials li div.image{
	width: 140px;
	height: 130px;
	float: left;
	padding-right: 10px;
}

.tablet .blog_test div{
	margin: 10px 0px 10px 10px;
	width: 88%;
}

p, h1, h2, h3, h4, h5, h6{
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.home-post p,
.page_content{
	text-align: center;
	line-height: 28px;
	font-size: 18px;
}

.blog_wel a{
	font-weight: 700;
}


.blog_gellery{
	padding-top: 20px;
}

#blog .blog-post:not(.home-post) img{
	width: 100%;
	height: 165px;
}

.phone #blog .blog-post:not(.home-post) img{
	height: 130px;
	width: 100%;
}

#blog  .blog-post  ul {
	margin:10px 0px 0px 0px;
}

.blog-post-div{
	border-bottom: 1px solid rgba(214, 214, 214, 0.4);
}

.blog > div:nth-last-child(2){
	border-bottom: 1px solid rgba(215, 215, 215, 0);
}

#blog  .blog-post-div:nth-child(2n+0) img{
	float: left;
	width: 90%;
	position:relative;	
	border-bottom: 1px solid rgba(214, 214, 214, 0.32);
	margin: 0px 10px 5px 0px;
}

#blog  .blog-post-div:nth-child(2n+1) img{
	float: right;
	width:90%;
	border-bottom: 2px solid rgba(214, 214, 214, 0.32);
	margin: 0px 0px 5px 10px;
}

#blog  .blog-post-div:nth-child(2n+0) > div,
#content.page  .blog-post-div :nth-child(2n+0) .blog-post{
	text-align: left;
}

#blog  .blog-post-div:nth-child(2n+1) > div,
#content.page  .blog-post-div :nth-child(2n+1) .blog-post{
	text-align: right; 
	padding-top: 55px;
}

#blog  .blog-post-div h3{
	margin-bottom: 10px;
}

#blog  .blog-post-info  ul  li {
	width:40% !important;
	float:left;
	margin-right:1%;	
}

.phone #blog  .blog-post-div{
	width:100%;
}

.phone #blog  .blog-post-info  ul  li {
	float:none !important;	
}

.widget_calendar td, .widget_calendar th {
	text-align: center;
	padding: 5px 9px;
	font-weight: normal;
	border: 1px solid #EDEDED;
}

.widget_calendar caption {
	text-align: left;
	margin-bottom: 5px;
	font-size: 17px;
}
.widget_calendar #today {
	font-weight: bold;
}

.widget-area {
	display:block;
	margin:0px;
}
#sidebar3.widget-area .sidebar-container > div,
#sidebar4.widget-area .sidebar-container > div{
	position: relative;
	float: left;
	margin: 17px !important;
	width: 29.8%;
}

.tablet #sidebar3.widget-area .sidebar-container > div,
.tablet #sidebar4.widget-area .sidebar-container > div{
	margin: 7px !important;
}

.phone #sidebar3.widget-area .sidebar-container > div,
.phone #sidebar4.widget-area .sidebar-container > div{
	margin: 0px !important;
	margin-top: 13px !important;
}

.phone .widget-area .sidebar-container > div {
	margin: 0px !important;
}

#sidebar1,
#sidebar2{
	margin-top: 50px;
}

.widget-area .sidebar-container > div h3{
	margin:0px 0px 10px 10px;
	font-size: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.widget-area .sidebar-container > div img {
	float: left;
	margin: 0px -1px 0px 0px;
}

.social-widg-cont>a img { margin-left:10px !important;}

/*#########PHONE ASIDE###########*/

.tablet .widget-area {
	position:relative;
	float:none;
	clear:both;
	margin:0px !important;
	padding:0px !important;
	height:auto !important;
}

.tablet .widget-area .sidebar-container {
	position:relative;
	margin: 0 auto;
}

.tablet #sidebar1,
.tablet #sidebar2{
	width: 100%;
}

.tablet .widget-area #sidebar3 .sidebar-container > div,
.tablet .widget-area #sidebar4 .sidebar-container > div {
	position:relative;
	width:252px !important;
	clear:none !important;
	margin:0px 5px 0px 5px;
	padding:0px 2px 10px 0px;
}

.tablet .widget-area .sidebar-container > div h3 {
	display:block;
	margin:0px 0px 10px 0px;

}


/*#########PHONE ASIDE###########*/

.phone .news > li  *,
.phone .news > li,
.textwidget p {
	text-align: left !important;
}

.phone #sidebar3 ul, #sidebar3 .textwidget p,
.phone #sidebar4 ul, #sidebar4 .textwidget p {
	margin-left:15px;
}

.phone .blog-post img{
	float: none;
}

.phone .widget-area {
	position:relative;
	float:none;
	clear:both;
	margin:0px !important;
	width:100% !important;
	height:auto !important;
}

.phone .widget-area .sidebar-container {
	margin:0px;
	width:100%;
}

.phone .widget-area .sidebar-container > div {
	width:100%;
	position:relative;
	padding:0px 0px 10px 0px;
	text-align:center;
	margin:0px auto;
	margin-top: 10px !important;
}

.phone .widget-area .sidebar-container > div * {
	position:relative;
	margin:0px auto;
	text-align: left;

}

.phone .widget-area .sidebar-container > div * {
	text-align: center;
}

.phone .widget-area .sidebar-container .widget_text h3 {
	display:block;
	text-align:left;
	margin:0px 0px 10px 3%;
}

.phone .blog-post .second{
	float:none;
	
}

.container.device{
	position:relative;
	background:#e3e2e2;
	border-top:2px solid #b1b0b0;
}

.container.device {height:65px;}


#copyright {
	position:relative;
	top:15px;
}

.phone #social li{
	margin:0;
}

#social {
	display:table;
	list-style:none;
	margin-left: 10px !important;
}

#social > li > ul > li{
	width:50px;
}

#social ul li {
	float:left;
	text-indent:-9999px;
	list-style: none;
}

#social > li {
	float: left;
}

#social > li > p{
	margin-left: 0px !important;
}

#social li a {
	display:block;
	height:44px;
	width:44px;
}

#social li.facebook a {
	background:url(images/fb.jpg) no-repeat;
}

#social li.twitter a {
	background:url(images/tw.jpg) no-repeat;
}

#social li.rss a {
	background:url(images/rss.jpg) no-repeat;
}

#social li.youtube a {
	background:url(images/youtube.jpg) no-repeat;
}

#social li.instagram a {
	background:url(images/instagram.jpg) no-repeat;
}

#social li.googleplus a {
	background:url(images/googleplus.jpg) no-repeat;
}

.subscribetext{
	text-indent: 0 !important;
	float: right !important;
	}

.phone .subscribetext{
	display: inline-table;
	width: 100% !important;
	text-align: left !important;
}

.tablet .subscribetext{
	float:right !important;
	width: 244px !important;
}
/*#############PHONE FOOTER##################*/

.container.device  .phone  {
	height:100px;
}

.container.device .phone  #copyright {
	position:relative;
	margin:0px auto;
	margin-bottom:20px;
}

.container.device  .phone #social {
	position:relative;
	margin:0px auto;
}


/*######################FROM ADMIN########################*/
body{
	font-size:15px;
	color:#232323;
}

a {
	color:#0a2545;
	outline:none;
}

a:link, a:visited { text-decoration:none;}


.sidebar-container {
	position:relative;
	margin:0px 5px 0px 0px;
	display: table;
}
.service h3{
	float:left;
	line-height: 18px;
    font-size: 16px !important;
    margin-right: 5px; 
	font-weight: 700 !important; 
}

.service img{
	float:left;  
	margin-right: 10px;
}

.service {
	float:left;
	width: 100%;
	text-align:left;
	padding: 10px 0px 10px 0px !important;
}

.service .entry {
	padding-left: 10px;
    width: 95%;
}

.entry img{
   display: inline-block;
   max-width: 99% !important;
   height: auto !important;
}

.entry {
	word-wrap: break-word;
	float: left;
	width: 100%;
	position:relative;
}

#contactRefresh{
	background: url(images/refresh.png) no-repeat;
	height: 30px;
	width: 28px;
}

#contactRefresh:hover{
	background: url(images/refresh-hover.png) no-repeat;
}

#contactDiv{ 
    width:100%;
	margin-top: 15px;
	border-top: 2px solid rgba(214, 214, 214, 0.8);
	padding-top: 55px;
}

#contact_info li{
	list-style: none;
	border-bottom: 1px solid rgba(214, 214, 214, 0.8);
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact_info{
	float: right;
	width: 40%;
	padding: 2%;
	background: #E0E0E0;
}

#gmap_canvas{
	height:204px;
	width:53%;
	float: left;
}

.phone #gmap_canvas,
.phone #contact_info{
	width: 100%;
	padding: 0;
}

.phone #contact_info{
	margin-top: 30px;
}

#about_info{
	background: url(images/information.png) no-repeat 0% 50%;
	padding-left: 15%;
}

#tel_info{
	background: url(images/tel.png) no-repeat 0% 50%;
	padding-left: 15%;
}

#mail_info{
	background: url(images/mail_info.png) no-repeat 0% 50%;
	padding-left: 15%;
	border-bottom: none !important;
}

#contactFormDiv{
	float:left;
	width: 48%;
	margin-right:2%;
}

#content.page  h3  a, #content.page  h3  a:link,#content.page  h3  a:visited,#content.page  h3  a:hover,#content.page  h3  a:focus,#content.page  h3  a:active{text-decoration:none;}

.home .page .widget-area {margin-top:0px !important;}

#sidebar3{padding-top: 55px; padding-bottom: 55px;}

#sidebar4{padding-top: 30px; padding-bottom: 25px;}

#contactForm .forms {
	width: 100%;
	list-style:none;
	padding-left: 0 !important;
}

.inputback-textarea{
	float:left;
	width: 48%;
}

#contactDiv #contactRefresh{
	border:none;
	float:left;
	padding-right:10px;
}

#mail_capcode{
	width: 10% !important;
	height: 20px !important;
	color: black !important;
}

#contactSend{
	width: 99%;
	height: 50px;
}

#caphid{
	display:none;
}

.styled-input {
	position: relative;
    margin: 0px 0px 10px 0px;
    width: 100%;
}

#contactForm input[type="text"],
#contactForm input[type="password"] {
	width: 99%;
    height: 32px;
    border: none;
    padding: 5px;
    font-size: 15px;
    color: #64615f;
	border:1px solid rgba(215, 207, 207, 0.44);
}

#contactForm textarea {
    width: 99%;
    height: 134px;
    padding: 5px 0px 7px 5px;
    outline: none;
    resize: none;
    color: #64615f !important;
    border: 0px;
	font: normal 15px Verdana, Tahoma, sans-serif;
	border:1px solid rgba(215, 207, 207, 0.44);
}

.message-textarea {
	margin:0 0 10px 0;
}
.contact_send {
	position: relative;
	margin-right:10px;
    display: block;
    float: right;
    text-decoration: none;
    font-size: 13pt !important;
    cursor: pointer;
    border: none;
    text-align: center;
    margin-top: 10px;
    font-weight: normal !important;
	width: 77px  !important;
    height: 37px  !important;
	border:1px solid rgba(215, 207, 207, 0.44);
}
.reset {
	position: relative;
    display: block;
    float: right;
    padding: 4px 15px 5px 15px !important;
    text-decoration: none;
    font-size: 15pt !important;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: 10px 0 0 7px;
    font-weight: normal !important;	
	background-color: rgba(0, 0, 0, 0);
	margin-right: 10px;
	border:1px solid rgba(215, 207, 207, 0.44);
}
.reset:hover{
	text-decoration:none;
}

.captcha_img{
	float:left;
	padding-right:10px;
}
.left {
	text-align: left !important;
}
.phone #contactForm > div {
	clear:both;
	position:relative;
	margin:0px auto !important;
	float:none !important;
	text-align:center;
	width:97%;
}


.container.tablet #blog, .container.phone #blog {
	width:100%;
	margin-bottom:20px !important;
	clear:both;
}

.tablet .blog{
						width: 100%;
					}

@media (max-width: 640px) {
#top-posts {
   background-image:none;
}
}

@media (max-width: 768px) {
#top-posts {
   background-image:none;
}
}

.front {
    position:relative;
    float:left;
	width: 212px;
    height: 212px;
}
.back {
   z-index:1000;
   width: 200px;
   height: 200px;
   font-weight: 700;
   position: absolute;
   padding: 5px;
   overflow:hidden;
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

#back {
   width: 100%;
   height: 100%;  
}
.back a {
    text-decoration:none;
    font-size:17px;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;
    display:block;
}
.back p {
    padding:5px;
    margin:0;
    line-height:15px;
    font-size:12px;
}
.front img {
    border:0;
    position:absolute;
    padding: 5px;
}
.prod {
    height: 22px !important;
    bottom: 10px !important;
    right: 10px !important;
    font-weight: normal;
	letter-spacing: 0 !important;
	font-size: 16px !important;
}


/*flip*/
.flip-container {
   float: left;
   margin-right: 20px;
   margin-bottom: 20px;
   width: 212px;
   height: 212px;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -o-perspective: 1000;
   perspective: 1000;
   border: 1px solid #ccc;
}

.flip-container:hover .flipper,  
 .flip-container.hover .flipper {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
    width:212px;
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	width: 210px;
    height: 210px;
	z-index: 2;
	
}	
.product_main_div {
    margin-top:15px;
	display: inline-block;
}
.front img {
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
}

#our-staff li{
    margin: 2% 2% 0 0 !important;
}
.abaut_us_post{ 
   height: 205px !important;
   width: 200px !important;
}
#respond{
  clear: both;
}
#our-staff-wrapper{
  margin-top: 40px;
}

#our-staff-wrapper ul{
	list-style-type:none !important;
}
 
#our-staff-wrapper h3{
  background:rgba(213,214,215,0.2);
}

.home .blog-post img{
	float:left;
	z-index: 1;
	position: relative;
}

.blog-post .second {
    float:left;
}

#top-posts{
   padding:0 !important;
}

#logo-block{
	overflow:hidden;
}
#slides-list{
	height:100% !important;
}
.title_href:hover{
	text-decoration:none;
}

#blog  h3 {
	font-weight:normal;
}


#content.page  h3  a, #content.page  h3  a:link,#content.page  h3  a:visited,#content.page  h3  a:hover,#content.page  h3  a:focus,#content.page  h3  a:active{text-decoration:none;}

.open,
.open > ul{
	width: 640px;
}

#top-nav {	
	padding:0px 0px 0px 0px;
	z-index:50;
	text-align:left;
}
.top-nav-list{
	display:table;
	margin:0 auto;
}

.top-nav-list *,.read_more{
	transition-property:background-color,color;
	transition-duration:0.5s;
}

div.top-nav-list > ul {
	list-style:none;
	display:table;
	height:100%;
	float:left;
	text-align:left;
}

div.top-nav-list > ul > li {
	position:relative;
	float:left;
	min-height:65px;
	margin:0px 0px 0px 0px;
}

div.top-nav-list > ul > li.last {
	border:0px;
}

div.top-nav-list > ul > li > a:hover,div.top-nav-list > ul > li > a:focus,div.top-nav-list > ul > li > a:active {
	text-decoration:none;
}


div.top-nav-list > ul > li ul {
	display:table;
	position:absolute;
	left:0px;
	list-style:none;
	z-index:10;
	display:none;
}

div.top-nav-list > ul > li ul  li {
	position:relative;
	display:block;
	margin:0px 0px 0px 0px;
	font-size:12px;
	
}

div.top-nav-list > ul > li ul  li  a{
	border-top: 3px solid rgba(0, 0, 0, 0);
}

div.top-nav-list > ul > li ul li a,div.top-nav-list > ul > li ul li a:link,div.top-nav-list > ul > li ul li a:visited   {
	display:block;
	height:25px;
	font-size:18px;
	padding:5px 20px 5px 20px;
	white-space:nowrap;
}

div.top-nav-list > ul > li ul li a:hover,div.top-nav-list > ul > li ul li a:focus ,div.top-nav-list > ul > li ul li a:active   {
	text-decoration:none;
}


.phone  div.top-nav-list > ul {
	position:relative;
	display:table;
	margin:0px;
	width:100%;
	float:none;
}

.phone  div.top-nav-list > ul > li {
	position:relative;
	float:none;
	clear:both;
	padding:0px;
	width:100%;

}


.phone  div.top-nav-list > ul  li.last {border-bottom:0px;}
.phone  div.top-nav-list > ul > li.active {display:block;}

.phone div.top-nav-list > ul > li a,.phone div.top-nav-list > ul > li a:link,.phone div.top-nav-list > ul > li a:visited {
	width:100%;
	margin:0px;
	padding:38px 0px 24px 40px;
	height:10px;
}


.phone div.top-nav-list > ul > li a:hover,.phone div.top-nav-list > ul > li a:focus,.phone div.top-nav-list > ul > li a:active {
	background:none;
}

.phone  div.top-nav-list > ul > li ul   {
	position:relative;
	display:none;
	top:0px;
	left:0px;
	margin:0px;
	width:100%;
	border-bottom:0px;
	border-top:3px solid #044aa0;
}

.phone  div.top-nav-list > ul > li ul li  {
	background:#08284f;
	border-bottom:3px solid #044aa0;
	border-right:10px solid #044aa0;
}

.phone  div.top-nav-list > ul > li ul li  a{
	padding:35px 0px 0px 40px;
	height:50px;
	font-size:25px;
}


#top-page .blog{
float:left;
}

.gravatar{
	float: right;
}

.wp-caption {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px;
  padding-top: 4px;
  text-align: center;
}

.form-allowed-tags{
	font-size:12px !important;
}

#overlay{
	z-index: 9 !important;
}

#modal{
	z-index: 10;
}

.pingback p, 
.trackback p {
	font-size: 1.1em;
	line-height: 1.5;
	color: #aaa;
}

/* /////////////////////////////////////////////////////////////comment////////////////////////////////// */

.comments-template{
	width: 100%;
}

.comments-template ol li{
	width:100%;
}

.comments-template > p{
	border-bottom:1px solid #DADADA;
	padding-bottom:6px;
}
.comment-body{
	padding-left: 9px;
}

ol.commentlist{
	margin-top:9px;
}


.gravatar{
	float: right;
}

.comments-template{
	clear: both;
	padding-top: 55px;
}

.comments-template ol ul{
	margin: 0;
}

.children li{
	width: 99.5% !important;
}

.comments-template textarea,
.web .comments-template{
	width:100%;
}

.wp-caption {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 10px;
  padding-top: 4px;
  text-align: center;
}
#comment{
	height: 115px;
}


#commentform p{
	background-repeat: repeat-y;
}

.form-allowed-tags{
	font-size:12px !important;
}

#commentform label{
	display: none;
}
#commentform #submit{
	background-color:#890000;
	
}
#comment{
	height: 115px !important;
}

#overlay{
	z-index: 9 !important;
}

#modal{
	z-index: 10;
}

.post-comments {
	margin: 0 0 40px 0;
}

.post-comments:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.post-comments h2, h3#comments-title {
	margin-bottom: 1em;
	font-size: 2.8em;
	color: #747474;
}

.comment,
.trackback,
.pingback {

	
	float: left;
	height: 1%;
}

.comment:after, 
.trackback:after,
.pingback:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pingback p, 
.trackback p {
	font-size: 1.1em;
	line-height: 1.5;
	color: #aaa;
}

.comment-avatar {
	width: 60px;
	float: left;
}

.comment-avatar img {
	width: 54px;
	padding: 2px;
	background: #fff;
	border: 1px solid #000;
}

.comment-author{
	padding:0px !important;
	color:#B9009C;
	text-transform:capitalize;
}

.comment-author img{
	width:74px;
	height:77px;
	padding:0px !important;	
}


.comment-body ul {
	margin: 0 0 1.4em 1.2em;
}

.children .comment-body{ }
ul.children>li.comment{
	background-color:#E9E7E8 !important;
	
}
.comment-body li {
	font-size: 11px;
	line-height: 1.5;
}
.comment-body{
	float:left
}
.comment-body blockquote {
	margin-left: 30px;
	margin-bottom: 1.4em;
	padding-left: 15px;
	font-size: 11px;
	line-height: 1.5;
	border-left: 2px solid #E0E8EF;
}

.comment-body blockquote p {
	font-size: 1em;
}

.comment-meta {
	margin:0px;
	font-size: 1.1em;
	color:#FF69ED;
}

/*Author Comments*/
.bypostauthor .avatar {
	background:#542929;
}

ol.commentlist > li.comment{
	background-color:#E0E0E0 !important;
}
.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 0 !important;
}

.commentlist ol {
	list-style: decimal;
}

.commentlist li {
	margin: 0;
	margin-bottom: 8px;	
}

.commentlist li:last-child{
	margin-bottom: 0px;	
}

.commentlist h1,.commentlist h2 ,.commentlist h3,.commentlist h4, .commentlist h5, .commentlist h6{
	line-height: 55px;	
}

.commentlist li cite {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
}



.commentlist .children {
	list-style: none !important;
	list-style-type: none !important;
}
.children li{
	margin-bottom:0px;	
}

.children .comment-author{
	padding-left: 35px !important;
}

.commentlist .avatar {
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}

.comment-body p{
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}

.comment-author .fn {
	position:relative;
	font-weight: 700;
}

.comment-author .says {
	display:none;
	float:left;
	color: #999;
}

.comment-body .comment-meta {
	color: #999 !important;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.comment-body .comment-meta a {
	font-size: 11px;
	font-style: italic;
	font-family: cursive;
}

.comment-body {
	width:100%;
	clear: both;
	padding-top:5px;
}

.comment-body .reply  {
	float:right !important;
}

.comment-body .reply  a {
	padding-bottom:3px;
	padding-top:3px;
}
#cancel-comment-reply-link{
	padding-right: 12px;
	padding-left: 12px;
	padding-bottom:3px;
	padding-top:3px;
	color:#FFFFFF !important;
}
.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}

.pingback cite, 
.trackback cite {
	font-style: normal;

}

#pings,
#comments {
	text-align: left;
}
.logged-in-as{
padding-bottom: 12px;
}
.comment-form-comment label{
	vertical-align:top !important;
	
}
.comment-form-comment{
	display: block;
	margin-right: 11px;
}

#respond h3 ,#respond .comment-notes,#respond .form-allowed-tags{
	color:#747474 !important;
}

#respond label {
	display: inline;
	color:#747474 !important;
}

#respond input[type="text"],#respond input[placeholder],#respond textarea,#respond textarea[placeholder] {
	color:#afafaf !important;
	outline:none;
	resize:none;
}

.comment-reply-link{
	padding-right:12px;
	padding-left:12px;
}
.comments-template>#respond{
	display:table;
	padding: 45px;
	background: rgba(243, 243, 243, 1);
}

.phone .comments-template>#respond{
	padding: 0px;
}
.form-submit #submit {
	margin-bottom:10px;
	position: relative;
	display: block;
	float: left;
	padding: 0px 15px 4px 15px;
	text-decoration: none;
	font-size: 15pt !important;
	font-weight: normal;
	cursor: pointer;
	border: none;
	text-align: center;
	margin-top: 10px;
	font-weight: normal !important;
	background-image: none !important;
	color: #fff !important;
}
#respond #reply-title{
	color: #5C5C5C !important;
	font-size: 30px;
}
#reply-title small{
	font-size:15px;
	float:right;
	
}
#reply-title small{
	line-height: 1;
	margin-top: 7px;
	padding-bottom:7px;
	padding-top:3px;
}
#reply-title small a{
	font-size:12px;
	margin-left:11px;
	margin-right:12px;
	
}

.comment-reply-link{
	font-size:12px;
}
#respond{
	padding-left:6px;
}
.comment-meta.commentmetadata{
	font-size:12px;
}

.comment-body>p{
	margin-right:25px;
}

/*Author Comments*/
.bypostauthor .avatar {
	background:#542929;
}

.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}

.pingback cite, 
.trackback cite {
	font-style: normal;
}

#pings,

.logged-in-as{
padding-bottom: 12px;
}

#respond label {
	display: inline;
	color:#747474 !important;
}

#respond input[type="text"],#respond input[placeholder],#respond textarea,#respond textarea[placeholder] {
	color:#424242 !important;
	outline:none;
	resize:none;
	height: 30px;
	margin-bottom: -5px;
	border: 1px solid rgba(236, 236, 236, 0.5);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.reply{
	clear: both;
	padding-bottom:3px;
	padding-top:3px;
	margin-right: 25px;
	margin-bottom: 5px;
}

.form-submit #submit {
	margin-bottom:10px;
	position: relative;
	display: block;
	float: left;
	padding: 1px 15px 2px 15px;
	text-decoration: none;
	font-size: 15pt !important;
	font-weight: normal;
	cursor: pointer;
	border: none;
	text-align: center;
	margin-top: 10px;
	font-weight: normal !important;
	background-image: none !important;
	color: #fff !important;
}
#reply-title{
	line-height: 40px;
	margin-right:5px;
}
#reply-title small{
	font-size:15px;
	float:right;
	
}
#reply-title small{
	line-height: 1;
	margin-top: 7px;
	padding-bottom:7px;
	padding-top:3px;
}
#reply-title small a{
	font-size:12px;
	margin-left:11px;
	margin-right:12px;
	
}

#respond{
	padding-left:6px;
}

.site-title-a{
	padding-top: 30px;
	font-weight: 700;
}

.site-title-a.phone
{
	max-width:100%;
	overflow:hidden;
	padding-top: 0px;
	background:none;
}
.container.phone > #logo-block  a.hedar-a-element, .container.phone > #logo-block > div  a.hedar-a-element {
	background:inherit !important;
}
.container.phone #site-description-p{
	text-align:left;
	padding-left:10px;
	margin:0px;
}
#content #top-page .blog{
	min-height:245px;
	position: relative;
}

#log_in{
	width: 35%;
	margin: 0 auto;
	padding: 50px;
	margin-top: 25px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.23);
	border-radius: 5px;
	border-spacing: inherit;
	padding-bottom: 85px;
	margin-bottom: 50px;
	background-color: rgba(255, 255, 255, 0.4);
}

#loginform h3{
	text-align: center;
}

#loginform .entry{
	width: 100%;
	text-align: center;
}

#loginform input{
	width: 100%;
	height: 2.5em;
	border: none;
	font-style: italic;
	padding-left: 10px;
	border: 1px solid rgba(215, 207, 207, 0.44);
}

.sidebar-container.login{
	background-color: rgba(0, 0, 0, 0) !important;
}

#log_in div{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 12px;
	text-align: center;
}

#log_in div .read_more{
	width: 25%;
	padding: 0px;
}

.nivo-thumbs-enabled{
	display:none !important
}	

.container.phone #loginform{
	background-size: 560px 250px !important;
}

.container.tablet #loginform{
	background-size: 720px 290px !important;
}

.log-out{
	position: static !important;
}

.GalleryPost{
	padding:0px !important;
	position:relative;
    float:left;
	margin-right: 8px;
	clear:none !important;;
}

.GalleryPost .caption {
	width: 100%;
	bottom: 0;
	font-weight: 700;
	left: 0;
	display: none;
	filter: alpha(opacity=82);
	-moz-opacity: 0.9;
	opacity: 0.9;
	margin-top: -35%;
	text-align: center;
}

.container.device{
	height:50px !important;
	border-top:0px !important;
}

#news_page{
	width: 97%;
	float: left;
	padding-bottom: 25px !important;
	border-bottom: #cccccc solid 1.5px;
}

#news_page span{
	float: right;
	margin: 15px 0;
	height: 30px;
}

#news_page .entry{
	clear: both;
}

#news_page span p{
	color: #979797 !important;
	font-size: 18px;
}


#news_page h3, #news_page img{
	float: left;
}

#news_page img{
	margin: 0 10px 10px 0;
}


.home #top-nav{
	z-index:12 !important;
	position: relative;
}

#top-nav-list > li ul{
	border-bottom:0px !important;
}


.tablet #blog,.phone #blog {width: 99% !important;}

.page-heading{
	font-size:30px;
	font-weight:normal;
	text-align: center;
	border-top: 3px solid rgba(231, 231, 231, 0.5);
}

#content.page  h3  a, #content.page  h3  a:link,#content.page  h3  a:visited,
#content.page  h3  a:hover,#content.page  h3  a:focus,#content.page  h3  a:active{
	text-decoration:none;
}

#content.page .blog-post {
	padding:0px 0px 45px 0px;
}

#content.page .blog-post img {
	display:inline-block;
	height:175px !important;
	width:auto !important;
}

#content.page .blog-post p {
	overflow:hidden;
	border-top: 2px solid rgba(214, 214, 214, 0.8);
	padding-top: 10px;
}

#content.page .blog-post a{
	top: -8px;
	position: relative;
	font-size: 20px;
}

.blog-post ul > li{
	width:50%;
	float:left;
	list-style: none;
}

.blog_test .blog-post ul > li{
	width: auto;
}

.blog-post-info {
	position:relative;
	height:45px;
	margin:5px 0px 0px 0px;
	width:100%;
	clear:both;
}

.blog-post-info ul {
	height:45px;
	display:table;
	width:100%;
	margin:0px 0px 0px 20px;
	list-style:none;
}

.blog-post-info a {
   padding-top: 15px;
   padding-left: 5px;
   float: left;
}

.blog-post-info ul li {
	position:relative;
	height:45px;
	display:block;
	width:auto !important;
	padding:0px 0px 0px 35px;
	float:left !important;
}

.blog-post-info ul li.date {
	background:url(images/blogpostinfo.date.gif) left center no-repeat;
	margin: 0px 3% 0px 0px;
}
.blog-post-info ul li.admin {
	background:url(images/blogpostinfo.admin.gif) left center no-repeat;
}

.blog-post-info ul li span {
	display:block;
	padding:15px 0px 0px 0px;
	float: left;
}

#content.page .blog-post .read-more {bottom:95px !important;}



/*##########SITEMAP##########*/

.sitemap li{
	list-style-type: disc;
	border: none;
}

.half-block {
	position:relative;
	width:50%;
	float:left;
}

.half-block h3 {
	margin:0px;
}

.half-block.sitemap ul{
	display:table;
	width:100%;
	list-style:none;
	margin:0px 0px 10px 20px;
	
}

.half-block.sitemap ul li{
	border:0px;
}

.phone .half-block {
	width:80%;
}

.phone .half-block h3 {text-align:center;}
.phone .half-block.sitemap ul {
	text-align:center;
}

/*##############SEARCH#################33*/
.search .search-result-info {
	width:100%;
	margin:10px 0px 0px 0px;
	height:30%;
	background:rgba(226, 226, 226, 0.2);
}

.search-result-info #search{
	width: 94%;
	border: 1px solid rgb(213, 213, 213);
	margin: 25px;
}

.phone .search-result-info #search{
	margin: 4px;
}

.search .search-result-info p {padding:5px 0px 0px 10px; }

.search .single-post {
	clear:both;
	border-bottom:1px solid rgba(150,150,150,0.2);
}

.search .single-post ul{
	margin:0px 0px 0px 10px;
	padding:0px;
}

.search .single-post div.clear{
	height:15px;
}



/*################ABOUT US##################*/

.single-page img {
	margin:0px 10px 10px 0px;
	max-width: 100%;
	height: auto;
}

img{
	max-width: 100%;
}

.about_us_img img{
	float:left;
}

.phone #our-staff-wrapper {
	position:relative;
	width:100%;
	padding:0px !important; 
	height:auto;
}


#our-staff {
	display:table;
	width:100%;
	margin: 40px 0px 55px 0px;
}

.home #our-staff li {
	float:left;
	width:50%;
	padding:0 1% 0 1%;
	margin:0 2% 0 0;
	overflow:hidden;
}

#our-staff li{
	display: table-cell;
	width: 10%;
}

#our-staff li p{
	width:95%;
}

#our-staff li .image-block img{
	width:100%;
	height:auto;
}

#our-staff li h4 {
	display:block;
	width:100%;
	font-size:25px;
	height:35px;
	margin:0px 0px 10px 0px;
	font-weight:normal;
	color:#0b2647;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#our-staff li span {
	position:relative;
	margin:-40px 0px 0px 0px;
	color:#747474;
	height:39px;
	overflow:hidden;
}

.phone .staff-list {
	display:block;
	position:relative;
	overflow: hidden; 
	margin:0px auto;
	padding:0px;
	width:90%;
}

.phone #our-staff li,
.phone #our-staff .image-block img{
	display:block;
	width: 100% !important;
	position: relative !important;
}

.phone #our-staff li h1{
	text-align: center;
}

.phone .staff-list-block ul li {width:120px !important;margin: 0px 5px 0px 5px !important;padding:0px 5px 0px 5px !important; }

.staff-button-left, .staff-button-right {
	position:absolute;
	top:10px;
	width: 5%;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer; 
	height:200px;
	display:none;
}

.staff-button-left {left:0px;}
.staff-button-right {right:0px;}

.phone  .staff-button-left, .phone  .staff-button-right {display:block;}

.phone .staff-button-left span ,.phone .staff-button-right span{
	position:relative;
	display:block;
	margin-top:70px;
	height: 44px; 
	width:100%;
	text-indent:-9999px;
	float:left;
}

.phone .staff-button-right span {background-position:right bottom;}


.staff-button-left  span {background: url(images/arrow-left-right.png) left top no-repeat;}
.staff-button-right span {	background: url(images/arrow-left-right.png) left bottom no-repeat;}

.page-links{
   margin: 14px 0;
   font-size: 17px;
   clear: both;
}	
.page-links-title, .page-links-number{
   margin-right: 5px;
}
.page-links-number{
   display: inline-block;
   width: 23px;
   text-align: center; 
}	


/*entry meta*/
.entry-meta{
  font-size: 14px;
  text-align: left;
  margin: 15px 0;
  clear:both;
}

.sep{
   font-size: 16px;
   font-weight: 700;
}
.categories-links, .tags-links, .entry-meta time{
   margin-right: 20px;
}

/*navigation*/

.navigation{
  clear: both;
  font-size: 17px;
}
.page-navigation{
  clear: both;
  font-size: 20px;
  background: none !important;
  margin-top: 20px !important;
  display: block !important;
}

.phone .page-navigation{
	width: 295px !important;
}

.page-navigation a[rel="next"]{
  float:right;
}


.post-password-form input[type="password"] {
line-height: 24px;
border: none;
}

.post-password-form input[type="submit"] {
	padding: 0 15px 2px 15px;
	text-decoration: none;
	font-size: 19px !important;
	cursor: pointer;
	border: none;
	text-align: center;
	font-weight: normal !important;
	position: relative;
	top: 2px;
}

/*search template*/
/* ----------------------- */

.searchback{
	position: relative;
	height: 32px;
	padding: 0px 10px 15px 0px;
	margin: 20px 0px 5px 0px;
}
.searchbox_search {
	color: rgb(111, 111, 111);
	width: 100%;
	height: 32px;
	padding: 5px;
	border: 1px solid #ECECEC;
}
#searchbox {
   width: 90%;
   display: block;
   margin: 0 auto;
}

#searchsubmit {
	width: 50px;
	display: table-cell;
	text-indent: -999px;
	float: right;
	height: 38px !important;
	font-weight: normal;
	cursor: pointer;
	background: url(images/search.png) right top no-repeat;
	text-align: center;
	right: 0;
	top: -40px;
	border: none;
	position: relative;
	font-size: 17px !important;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

.phone #content.page p {
	text-align: left;
}

.phone .textwidget ul {
	text-align: left;
}

.phone .blog_div {
	display: inline-block;
	text-align: center;
}

#content .container.phone  {
	width:97% !important;
}

 #header-middle-block.border {
	border-bottom:0px;
	background:url(images/header.border.gif) left bottom repeat-x;
	padding:0px 0px 3px 0px;
}

.phone  #header-middle {
	display:block;
	position:relative;
}

.phone  #logo {
	position:relative;
	display:block;
	width:100%;
	text-align:center;
	float:none;
	max-width:100%;
	margin-bottom:25px;
}

.phone  #logo img {
	position:relative;
	display:block;
	margin:0px auto;
}

.phone #top-advertismnet {
	float:none;
	position:relative;
	margin:0px auto;
	display:block;
}

.phone .footer-widgets-list .footer-advertismnet > div{
	width:100%;
	display: inline-block;
	padding-bottom: 110px;
	padding-top: 70px;
	height:0;
}

.news{
	padding-left: 10px;
}

.phone .footer-widgets-list .contact-content,
.phone .footer-widgets-list ul.news{
	width:100%;
	margin-left: 10px;
}

/*TOP MENU */
#menu-button-block {
	position:relative;
	height:45px;
	text-align:right;
	z-index: 11;
}

.phone .top-nav-list li a{
	border-left: 2px solid #FFFFFF !important;
}

#menu-button-block a, #menu-button-block a:link, #menu-button-block a:visited,
#menu-button-block a:active, #menu-button-block a:focus, #menu-button-block a:active  {
	display:block;
	padding:17px 10px 0px 0px;
	color:#000;
	height:28px;
	font-size:23px;
}

.phone #top-nav {
	z-index:200;
	background:#B4CF00;
}

.phone #top-nav > div {
	margin:0px 0px 0px 0px;
	width: 100% !important;
}

.phone #top-nav > div  ul  li {
	position:relative;
	width:100%;
	display:block;
	clear:both;
	text-align:left;
	text-indent:10px;
	border-bottom:1px solid rgba(189, 189, 189, 0.4) ;
}

.phone #top-nav > div li.current_page_item > a{
	border-top: 0px !important;
}

.phone #top-nav > div  ul  li a,.phone #top-nav > div  ul  li a:link,.phone #top-nav > div  ul  li a:visited,
.phone #top-nav > div  ul  li a:hover,.phone #top-nav > div  ul  li a:focus, .phone #top-nav > div  ul  li a:avtive{border:0px !important;border:0px !important;}

.phone #top-nav > div  ul  li.last {border-bottom:0px !important;}

.phone #top-nav > div > ul  li a,.phone #top-nav > div > ul  li a:link, .phone #top-nav > div > ul  li a:visited {
	display:block;
	height:43px;
	padding:20px 0px 0px 0px;
	margin-left: -2px;
}

.phone #top-nav > div > ul  li ul a,.phone #top-nav > div > ul  li ul a:link, .phone #top-nav > div > ul  li ul a:visited {
	height:20px;
	font-size:17px !important; 
}

.phone #top-nav > div   ul li ul {
	position:relative;
	width:100%;
	background:none;
	top:auto;
	left:auto;
	padding:0px;
	margin:0px 0px 0px 0px;
	border-bottom:0px !important;

}

.phone #top-nav > div > ul  li  ul li {
	padding:0px;
	text-indent:20px;
	background:none !important;
}

.phone #top-nav > div > ul  li  ul li li{text-indent:30px;}
.phone #top-nav > div > ul  li  ul li li li{text-indent:40px;}
.phone #top-nav > div > ul  li  ul li li li li{text-indent:50px;}

.phone #top-nav > div > ul > li ul li a, .phone #top-nav > div > ul > li ul li a:link, .phone #top-nav > div > ul > li ul li a:visited,
.phone #top-nav > div > ul > li ul li a:hover, .phone #top-nav > div > ul > li ul li a:focus, .phone #top-nav > div > ul > li ul li a:active {
	border-top:0px !important;
	border:0px !important;
	font-size:23px; 
	background:#0f0;
	padding-bottom: 10.3px;
	padding-top: 10px;
}

/*#top posts#*/
.phone #top-posts-list {
	position:relative;
	display:table;
	width:100%;
	list-style:none;
}


.phone #top-posts-list li div.text-block p{
	width: 100%;
	padding-top: 10px;
}

.phone #top-posts-list li div.image-block{
	width:100% !important;
	height:180px;
}

.phone #top-posts-list li div.image-block img{
	width:100% !important;
	margin-top: -60px;
}

.phone #top-posts-list li div.text-block .heading-block{
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid #F3F3F3;
}

.phone #top-posts-list li {	
	position:relative;
	height: 335px !important;
	display:block;
	clear:both;
	width:100%;
	text-align:center;
	padding: 0;
}

.phone  #top-posts-list li:first-child{border-top:0px;}

/*MAIN*/
.phone #content {
	width:100%;
}


/*#####GALLERY#####*/

.phone #home-gallery  ul {	
	position:relative;
	display:block;
	list-style:none;
	overflow:hidden;
	width:100%;
}

.phone #home-gallery  ul  li {
	position:relative;
	width:100%;
	float:left;
	overflow:hidden;
	height: 165px;
}

.phone #home-gallery  ul  li.first {
	width:100%;
}

.phone #home-gallery  ul  li a {
	display:block;
}

.phone #home-gallery  ul  li a img {
	width:100%;
	min-height:100%;
	margin:0px;
	padding:0px;

}

/*#SIDEBAR#*/

#sidebar3 .sidebar-container,
#sidebar4 .sidebar-container,
#sidebar3,
#sidebar4{
	margin: 0 auto !important;
}

.tablet #sidebar3 .sidebar-container,
.tablet #sidebar4 .sidebar-container{
	width: 768px;
	margin: 0 auto;
}


.phone #sidebar3 .sidebar-container,
.phone #sidebar4 .sidebar-container{
	width: auto;
}
.phone aside {
	clear:both;
	width:100%;
}

.phone aside .sidebar-container {
	margin:0px;
}

.phone aside .sidebar-container .widget-area {
	width:100%;
	clear:both;
	border-bottom:0px;
	margin-bottom:10px;
}


.phone aside .sidebar-container .widget-area > div,
.phone aside .sidebar-container .widget-area > img{
	position:relative;
	margin:0px auto;
	display:block;
}


.phone #search-block,
.phone #logo-block{
	position:relative;
	margin: 0 auto;
	width: 87%;
	top: 0;
}

.phone #search-block{
	margin-bottom: 45px;
}

/*#FOOTER#*/

.phone  .footer-widgets-list > li span.heading{
	margin-left: 10px;
}

.phone .footer-widgets-list {
	position:relative;
	display:table;
	width:100%;
	clear:both;
}

.phone .footer-widgets-list > li {
	width:97%;
	position:relative;
	clear:both;
	border:0px;
}


.phone .footer-widgets-list  li:last-child {border-bottom:0px;}

.phone .footer-widgets-list .footer-advertismnet{
	position:relative;
	text-align:center;
	margin:0px auto;
}

.phone  .footer-widgets-list ul.testimonials li{
	width:100%;
}

.phone #social {
	display:table;
	margin-left: 25px;
	position:relative;
}


/*##############FOOTER############3*/

#footer {
	position:relative;
	clear:both;
}

.footer-widgets-list {
	display:table;
	list-style:none;
	text-align:left;
	margin:0 auto;
	padding:0px 0px 10px 0px;
	font-size: 14px;
}

.tablet .footer-widgets-list *{
	max-width: 225px;
}

.footer-widgets-list.first {
	border-bottom:4px solid #f1f1f1;
}


.footer-widgets-list >  li {
	display:block;
	float:left;
	margin:0px 0px 5px 10px;
	padding:0px 1% 15px 0px;
}

.footer-widgets-list >  li  > ul {
	list-style:none;
}

.footer-widgets-list >  li  > ul  li {
	padding:5px 0px 0px 0px;
}

.footer-widgets-list >  li  > ul  li:first-child {
	border-top:0px;
}

.footer-widgets-list >  li  span.heading {
	display:block;
	font-size:30px;
	color:#9d9d9d;
	margin-bottom:10px;
	border-bottom: 2px solid #EAEAEA;
	width: 300px;
}


.footer-widgets-list ul.news {
	display:table;
	position:relative;
	list-style-type: disc;
	margin-right:20px;
	width: 295px;
}

#sidebar4{
	border-top: 3px solid rgba(197, 197, 197, 0.5);
	margin-top: 55px !important;
}

.footer-widgets-list .news > li {
	margin:0px 3px 12px 15px;
	
}

.footer-widgets-list .news > li a {
	color:#9d9d9d;
}

.footer-widgets-list ul.testimonials {
	margin-right:20px;
	border-top: 3px solid #F3F3F3;
	padding-top: 10px;
}

.footer-widgets-list .heading{
	font-size: 30px;
}

.footer-widgets-list ul.testimonials li {
	clear:both;
	height:120px;
	margin:10px 0px 10px 0px;
	list-style:none;
	display: inline-block;
	padding-right: 80px;
	width: 420px;
}

.footer-widgets-list ul.testimonials li div.image  {
	width:155px;
	height:130px;
	float:left;
}

.footer-widgets-list ul.testimonials li div.image  a {
	display:block;
	width:70px;
	height:70px;
}

.footer-widgets-list  div.contact-content  {
	width:312px;
}

.footer-widgets-list  .contact-content > p {
	margin-bottom:10px;
}

.footer-widgets-list .contact-content .tel {
	width:40px;
	display:block;
	float:left;
	font-weight:bold;
}


.footer-widgets-list .contact-content .number {
	display:block;
	margin:0px 0px 0px 40px;
	
}

.tablet #sidebar3 .widget_web_buis_adsens > div,
.tablet #sidebar4 .widget_web_buis_adsens > div  {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:314px;
	font-size:28px;
	margin:0px auto;
}

.tablet .footer-widgets-list .footer-advertismnet > div {
	width: 225px;
}

.tablet #social li{
	margin:0;
}

#blog table:not(#log_in){
	border-collapse: collapse;
}

#blog td:not(#log_in td), #blog th:not(#log_in th){
	border: 1px solid #B6B6B6;
	padding: 7px
}

.phone #social li {
	position:relative;
}

.phone #social li a{
	position:relative;
	margin:0px auto;
	text-align:center;
}

.phone  #copyright {display:block;width:100%;}