@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic&subset=latin,cyrillic);
@media (max-width: 767px) {
	body {
		padding-left:0;
		padding-right:0;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left:0;
		margin-right:0;
	}
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	margin-bottom:15px;
}
h1, h2, h3 { text-transform:uppercase; }
a {
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
}
p { margin:0 0 20px 0; }
ul {
	margin:0;
	padding:0 0 5px 0;
}
ul li {
	list-style:none;
	padding:0 0 13px 24px;
	background:url(images/list-marker.png) no-repeat 0 2px;
}
.unstyled, .pagination ul, .breadcrumb, .page-numbers, .pager, .nav-pills, .payment_methods, .woocommerce-error, .slides, .flexslider, .jp-controls, .jp-toggles, .related-posts_list, .nav-tabs { padding:0; }
.unstyled li, .pagination ul li, .breadcrumb li, .page-numbers li, .pager li, .nav-pills li, .payment_methods li, .woocommerce-error li, .slides li, .flexslider li, .jp-controls li, .jp-toggles li, .related-posts_list li, .nav-tabs li {
	padding:0;
	background:none;
}
.filterable-portfolio li, .chzn-results li { background:none; }
.order_details li {
	background:none;
	padding-left:0;
	padding-bottom:0;
}
.sidebar .unstyled li { padding:0 0 30px 0; }
.single-pager.pager {
	margin:0;
	border:none;
	padding:10px 0 20px 0;
}
.single-pager.pager li { padding:10px 0; }
.main-holder { overflow:hidden; }
.main-wrap {
	max-width:1230px;
	margin:0 auto;
}
header.header {
	padding:0;
	border-bottom:3px solid #e9e7e6;
}
@media (max-width: 767px) {
	header.header { margin:0 0 10px 0; }
}
header.header .header_row_top {
	position:relative;
	padding:12px 0;
}
header.header .header_row_top:after {
	position:absolute;
	top:0;
	left:-100%;
	right:-100%;
	bottom:0;
	border-bottom:1px solid #eae8e7;
	content:"";
}
header.header .header_row_top .row {
	position:relative;
	z-index:2;
}
header.header .header_row_middle { padding:30px 0; }
@media (max-width: 767px) {
	header.header .header_row_middle { padding:20px 0 10px; }
}
header.header .header_row_middle .inner_wrap { margin:0 -20px 0 0; }
@media (min-width: 1241px) {
	header.header .header_row_middle .inner_wrap { margin:0 -30px 0 0; }
}
@media (min-width: 1200px) and (max-width: 1240px) {
	header.header .header_row_middle .inner_wrap { margin:0 -10px 0 0; }
}
@media (max-width: 767px) {
	header.header .header_row_middle .inner_wrap { margin:0; }
}
header.header .header_row_middle .inner_wrap:after {
	content:"";
	display:block;
	width:100%;
	clear:both;
}
header.header .header_row_bottom { position:relative; }
@media (max-width: 767px) {
	header.header .header_row_bottom { padding:5px 20px; }
}
header.header .header_row_bottom > .row {
	position:relative;
	z-index:2;
}
header.header .header_row_bottom:after {
	position:absolute;
	top:0;
	left:-100%;
	right:-100%;
	bottom:0;
	background:#402d26;
	border-top:1px solid #2d1c15;
	content:"";
}
.logo { margin:0 0 0 -20px; }
@media (min-width: 1241px) {
	.logo { margin:0 0 0 -30px; }
}
@media (min-width: 1200px) and (max-width: 1240px) {
	.logo { margin:0 0 0 -10px; }
}
@media (max-width: 767px) {
	.logo { margin:0 10px; }
}
.logo_h__txt { text-transform:none; }
.logo_h__txt a { text-decoration:none !important; }
.logo_tagline {
	margin:0;
	padding:8px 0 0 0;
	font-size:11px;
	letter-spacing:1px;
	text-align:center;
}
@media (max-width: 767px) {
	.logo, .logo.pull-left {
		float:none;
		width:100%;
		text-align:center;
		padding:0 10px;
		max-width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
.nav__primary {
	margin:0 -20px;
	padding:0;
}
@media (min-width: 1200px) {
	.nav__primary { margin:0 -30px; }
}
@media (max-width: 767px) {
	.nav__primary { padding:2px 10px; }
}
.nav__primary .sf-menu {
	float:left;
	border-left:1px solid #61524c;
}
.nav__primary .sf-menu > li {
	margin:0;
	background:none;
	border:none;
}
.nav__primary .sf-menu > li > a {
	height:55px;
	padding:0 20px;
	border-left:none;
	border-right:1px solid #61524c;
	text-transform:uppercase;
	font-weight:600;
	background:none;
	border-top:3px solid transparent;
}
.nav__primary .sf-menu > li > a:hover, .nav__primary .sf-menu > li.sfHover > a, .nav__primary .sf-menu > li.current-menu-item > a, .nav__primary .sf-menu > li.current_page_item > a {
	border-top:3px solid #98ba33;
	color:#98ba33;
}
.nav__primary .sf-menu ul {
	background:#2d1c15;
	padding:20px 30px;
	border-top:3px solid #98ba33;
	width:170px;
}
.nav__primary .sf-menu ul li {
	border:none;
	background:none;
}
.nav__primary .sf-menu ul li a {
	line-height:20px;
	padding:6px 0;
	font-size:14px;
	color:#fff;
	border:none;
	text-align:left;
	text-decoration:none;
}
.nav__primary .sf-menu ul li a:before {
	font-family:FontAwesome;
	content:"\f0a9";
	font-size:18px;
	color:#fff;
	display:inline-block;
	margin:-4px 8px 0 0;
	vertical-align:middle;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
}
.nav__primary .sf-menu ul > li > a:hover, .nav__primary .sf-menu ul > li.sfHover > a, .nav__primary .sf-menu ul > li.current-menu-item > a, .nav__primary .sf-menu ul > li.current_page_item > a {
	color:#98ba33;
	background:none !important;
}
.nav__primary .sf-menu ul > li > a:hover:before, .nav__primary .sf-menu ul > li.sfHover > a:before, .nav__primary .sf-menu ul > li.current-menu-item > a:before, .nav__primary .sf-menu ul > li.current_page_item > a:before { color:#98ba33; }
.nav__primary .sf-menu ul > li:hover ul, .nav__primary .sf-menu ul > li.sfHover ul {
	left:202px;
	top:-23px;
}
.nav__primary .sf-menu .sf-sub-indicator {
	background:none;
	width:auto;
	height:auto;
	position:absolute;
	right:2px;
	top:50%;
	margin:-8px 0 0 0;
	width:14px;
	height:20px;
}
.nav__primary .sf-menu .sf-sub-indicator:after {
	content:"\f107";
	font-family:FontAwesome;
	text-indent:0;
	position:absolute;
	left:0;
	top:0;
	line-height:20px;
	font-size:14px;
}
.nav__primary .sf-menu ul .sf-sub-indicator:after { content:"\f105"; }
.select-menu {
	background-color:#fff;
	border-color:#fff;
	box-shadow:none;
}
.select-menu:focus { border-color:#fff; }
.header { margin:0 0 30px 0; }
.header .search-form__h {
	float:right;
	padding:10px 0 0 0;
}
@media (max-width: 767px) {
	.header .search-form__h {
		float:none;
		padding:20px 10px 0;
	}
}
@media (max-width: 767px) {
	.header .search-form__h #search-header {
		margin:0 0 10px 0;
		position:relative;
	}
}
.header .search-form__h #search-header:after {
	clear:both;
	content:"";
	width:100%;
	display:block;
}
.header .search-form__h #search-header input.search-form_it {
	margin:0;
	float:left;
	padding-right:40px;
}
@media (max-width: 767px) {
	.header .search-form__h #search-header input.search-form_it {
		float:none;
		width:100%;
		margin:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		height:38px;
	}
}
.header .search-form__h #search-header #search-form_is {
	margin-bottom:0;
	vertical-align:top;
	display:inline-block;
	background:#98ba33;
	font-size:24px;
	text-align:center;
	line-height:38px;
	height:38px;
	width:50px;
	color:#fff;
	text-decoration:none !important;
	float:left;
}
.header .search-form__h #search-header #search-form_is i { cursor:pointer; }
.header .search-form__h #search-header #search-form_is i:before {
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
}
.header .search-form__h #search-header #search-form_is:hover { background:#181818; }
@media (max-width: 767px) {
	.header .search-form__h #search-header #search-form_is {
		position:absolute;
		right:0;
		top:0;
		color:#98ba33;
		background:none;
	}
	.header .search-form__h #search-header #search-form_is:hover {
		background:none;
		color:#907968;
	}
}
.content-holder {
	max-width:980px;
	margin:0 auto;
	border:1px solid #e9e7e6;
	background:#fff;
	padding:30px 0 15px;
}
@media (min-width: 1200px) {
	.content-holder { max-width:1230px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.content-holder { max-width:764px; }
}
@media (max-width: 767px) {
	.content-holder {
		max-width:744px;
		margin:0 10px;
		padding:10px;
	}
}
.page_home_top {
	padding:0 0 30px 0;
	margin:0 0 30px 0;
	border-bottom:1px solid #e9e7e6;
}
@media (max-width: 767px) {
	.page_home_top {
		border-bottom:none;
		margin:0;
		padding:0 0 10px 0;
	}
}
.home_page_banner { margin:0; }
@media (max-width: 767px) {
	.home_page_banner {
		margin:10px 0 0 0;
		text-align:center;
	}
}
#slider-wrapper { overflow:visible; }
#slider-wrapper .camera_wrap { float:none; }
.camera_caption {
	left:55px;
	bottom:auto;
	top:40%;
	max-width:370px;
	display:block;
}
.camera_caption .camera_caption_link {
	display:block;
	text-decoration:none !important;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	.camera_caption {
		top:20%;
		left:15px;
	}
}
@media (max-width: 767px) {
	.camera_caption { display:none !important; }
}
.camera_caption > div {
	background:none;
	padding:0;
	color:#fff;
}
.camera_caption > div h2 {
	color:#fff;
	font-size:41px;
	line-height:45px;
	font-weight:700;
	margin:0;
	text-transform:uppercase;
	letter-spacing:-2px;
}
.camera_caption > div h3 {
	font-size:26px;
	line-height:28px;
	letter-spacing:-1px;
	text-transform:uppercase;
	color:#fff;
	font-weight:600;
	margin:0 0 10px 0;
}
.camera_wrap .camera_pag .camera_pag_ul {
	position:absolute;
	right:30px;
	bottom:30px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	width:14px;
	height:14px;
	margin:0 0 0 6px;
	border-radius:7px;
	background:#000;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	cursor:pointer;
}
.camera_wrap .camera_pag .camera_pag_ul li span { display:none; }
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent, .camera_wrap .camera_pag .camera_pag_ul li:hover { background:#98ba33; }
.camera_next > span, .camera_prev > span {
	background:none;
	cursor:pointer;
}
.camera_next > span:after, .camera_prev > span:after {
	cursor:pointer;
	width:100%;
	line-height:40px;
	height:40px;
	text-align:center;
	color:#98ba33;
	background:#fff;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
	font-family:FontAwesome;
	font-size:30px;
	display:block;
}
.camera_next > span:hover:after, .camera_prev > span:hover:after { color:#907968; }
.camera_commands > div {
	background:none;
	cursor:pointer;
}
.camera_commands > div:after {
	cursor:pointer;
	width:38px;
	padding:2px 0 0 2px;
	line-height:38px;
	height:38px;
	text-align:center;
	color:#98ba33;
	background:#fff;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
	font-family:FontAwesome;
	font-size:12px;
	display:block;
}
.camera_commands > div:hover:after { color:#907968; }
.camera_next > span:after { content:"\f105"; }
.camera_prev > span:after { content:"\f104"; }
.camera_commands > .camera_play:after { content:"\f04b"; }
.camera_commands > .camera_stop:after { content:"\f04c"; }
.home_recent_products > h3 {
	background:#98ba33;
	color:#fff;
	font-weight:600;
	padding:14px 17px;
	display:inline-block;
	text-transform:uppercase;
}
.title-section {
	padding:0;
	margin:0;
}
.page-header { margin:0 0 20px 0; }
.entry-content { overflow:visible; }
.entry-content:after {
	clear:both;
	content:"";
	width:100%;
	display:block;
}
.featured-thumbnail {
	box-shadow:none;
	border-color:#e9e7e6;
}
.thumbnail__portfolio { margin:0 0 20px 0; }
a[class^="tag-link-"] {
	display:inline-block;
	margin:0 1px 2px 0;
	background:#98ba33;
	border:1px solid #779228;
	padding:0 8px;
	line-height:18px;
	height:18px;
	font-size:11px !important;
	font-family:'Open Sans', sans-serif;
	color:#fff;
	text-decoration:none;
}
a[class^="tag-link-"]:hover {
	background:#907968;
	border-color:#726053;
	text-decoration:none;
}
.flexslider { margin:0 0 40px 0; }
.error404-holder_num { color:#98ba33; }
.share-buttons li iframe { max-width:none; }
.children {
	padding:0 0 0 40px;
	position:relative;
	overflow:hidden;
}
.children .comment-body {
	overflow:visible;
	position:relative;
}
.children .comment-body:before {
	content:"";
	left:-20px;
	bottom:50%;
	height:1px;
	width:20px;
	background:#eee;
	position:absolute;
}
.children .comment-body:after {
	content:"";
	left:-20px;
	bottom:50%;
	width:1px;
	height:1000px;
	background:#eee;
	position:absolute;
}
.social_message { padding:0 30px 0 0; }
.social_message:after {
	content:"";
	display:block;
	width:100%;
	clear:both;
}
.social_message .icon-home {
	color:#98ba33;
	font-size:18px;
	float:left;
	margin:0 8px 0 0;
}
.social_message p { overflow:hidden; }
.social .social_li {
	background:none;
	padding:0 5px 0 0;
}
.social .social_li a {
	text-decoration:none !important;
	opacity:1;
}
.social_link__rss + .tooltip { text-transform:uppercase; }
.banner-wrap a {
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
}
.banner-wrap figure { margin:0; }
.banner-wrap .link-align { margin:10px 0 0 0; }
.banner-wrap.top_banner { margin:0; }
@media (max-width: 767px) {
	.banner-wrap.top_banner {
		text-align:center;
		margin:0 0 10px 0;
	}
}
.banner-wrap.top_banner .banner_main_link {
	display:block;
	margin:0;
	padding:0;
	position:relative;
	max-width:100%;
}
@media (max-width: 767px) {
	.banner-wrap.top_banner .banner_main_link { display:inline-block; }
}
.banner-wrap.top_banner .banner_main_link h5 {
	font-size:24px;
	line-height:26px;
	text-transform:uppercase;
	color:#fff;
	font-weight:600;
	letter-spacing:-1px;
	margin:0;
	position:absolute;
	left:20px;
	top:18px;
	-webkit-transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	-moz-transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	-o-transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	-moz-transform-origin:0 0;
	-webkit-transform-origin:0 0;
	-o-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
}
@media (min-width: 1200px) {
	.banner-wrap.top_banner .banner_main_link h5 {
		font-size:28px;
		line-height:30px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.top_banner .banner_main_link h5 {
		font-size:18px;
		line-height:20px;
	}
}
.banner-wrap.top_banner .banner_main_link h5 span {
	display:block;
	font-size:35px;
	line-height:38px;
	color:#fff;
	font-weight:700;
	letter-spacing:-3px;
	margin:-3px 0 0 0;
	-webkit-transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	-moz-transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	-o-transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
	transition:all 300ms cubic-bezier(0.175,0.885,0.320,1.275);
}
@media (min-width: 1200px) {
	.banner-wrap.top_banner .banner_main_link h5 span {
		font-size:41px;
		line-height:43px;
	}
}
.banner-wrap.top_banner .banner_main_link p {
	position:absolute;
	top:95px;
	left:20px;
	right:20px;
	bottom:50px;
	overflow:hidden;
}
.banner-wrap.top_banner .banner_main_link:after {
	font-family:FontAwesome;
	font-size:31px;
	line-height:34px;
	display:block;
	position:absolute;
	right:20px;
	bottom:20px;
	content:"\f0a9";
	color:#fff;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
}
.banner-wrap.top_banner .banner_main_link:hover h5 {
	opacity:0.9;
	filter:alpha(opacity=90);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.top_banner .banner_main_link:hover h5 {
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
}
.banner-wrap.top_banner .banner_main_link:hover h5 span {
	opacity:0.9;
	filter:alpha(opacity=90);
}
.banner-wrap.top_banner .banner_main_link:hover:after {
	opacity:0.8;
	filter:alpha(opacity=80);
}
.banner-wrap.top_banner.type_2 .banner_main_link h5 { color:#181818; }
.banner-wrap.top_banner.type_2 .banner_main_link h5 span { color:#98ba33; }
.banner-wrap.top_banner.type_2 .banner_main_link:hover h5 { color:#98ba33; }
.banner-wrap.top_banner.type_2 .banner_main_link:hover h5 span { color:#181818; }
.banner-wrap.top_banner.type_3 .banner_main_link h5 { color:#fff; }
.banner-wrap.top_banner.type_3 .banner_main_link h5 span { color:#fff; }
.banner-wrap.top_banner.type_3 .banner_main_link:hover h5 { color:#fff; }
.banner-wrap.top_banner.type_3 .banner_main_link:hover h5 span { color:#98ba33; }
.banner-wrap.bottom_banner .banner_main_link {
	border:5px solid #e9e7e6;
	background:#fff;
	padding:15px 20px 10px;
	text-decoration:none !important;
	text-align:center;
	display:block;
	min-height:68px;
}
.banner-wrap.bottom_banner .banner_main_link:after {
	content:"";
	display:block;
	width:100%;
	clear:both;
}
.banner-wrap.bottom_banner .banner_main_link h5 {
	text-transform:uppercase;
	margin:-5px 0 0 0;
	display:inline-block;
	font-weight:600;
	text-align:left;
	font-size:16px;
	line-height:18px;
	letter-spacing:-1px;
	color:#98ba33;
	vertical-align:middle;
}
@media (min-width: 1200px) {
	.banner-wrap.bottom_banner .banner_main_link h5 {
		font-size:20px;
		line-height:21px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.bottom_banner .banner_main_link h5 { text-align:center; }
}
.banner-wrap.bottom_banner .banner_main_link h5 span {
	display:block;
	color:#181818;
	font-size:22px;
	line-height:23px;
}
@media (min-width: 1200px) {
	.banner-wrap.bottom_banner .banner_main_link h5 span {
		font-size:28px;
		line-height:29px;
	}
}
.banner-wrap.bottom_banner .banner_main_link p {
	margin:0;
	clear:both;
	padding:5px 0 0 0;
	color:#787878;
	font-size:11px;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
}
@media (min-width: 1200px) {
	.banner-wrap.bottom_banner .banner_main_link p { font-size:14px; }
}
.banner-wrap.bottom_banner .banner_main_link figure {
	display:inline-block;
	margin:0 9px 0 0;
	vertical-align:middle;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.bottom_banner .banner_main_link figure { margin:0 0 10px 0; }
}
.banner-wrap.bottom_banner .banner_main_link:hover {
	text-decoration:none;
	background:#e9e7e6;
}
.banner-wrap.bottom_banner.color_link .banner_main_link {
	border-color:#98ba33;
	background:#98ba33;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
}
.banner-wrap.bottom_banner.color_link .banner_main_link h5 { color:#fff; }
.banner-wrap.bottom_banner.color_link .banner_main_link h5 span { color:#fff; }
.banner-wrap.bottom_banner.color_link .banner_main_link p { color:#fff; }
.banner-wrap.bottom_banner.color_link .banner_main_link:hover {
	text-decoration:none;
	background:#907968;
	border-color:#907968;
}
.banner-wrap.bottom_banner.color_dark .banner_main_link {
	border-color:#403024;
	background:#403024;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
}
.banner-wrap.bottom_banner.color_dark .banner_main_link h5 {
	color:#fff;
	font-size:30px;
	line-height:30px;
	margin:4px 0 0 0;
}
@media (min-width: 1200px) {
	.banner-wrap.bottom_banner.color_dark .banner_main_link h5 {
		font-size:40px;
		line-height:40px;
	}
}
.banner-wrap.bottom_banner.color_dark .banner_main_link h5 span { color:#fff; }
.banner-wrap.bottom_banner.color_dark .banner_main_link p { color:#a09892; }
.banner-wrap.bottom_banner.color_dark .banner_main_link:hover {
	text-decoration:none;
	background:#98ba33;
	border-color:#98ba33;
}
.banner-wrap.bottom_banner.color_dark .banner_main_link:hover p { color:#fff; }
.hr {
	background:#e9e7e6;
	clear:both;
}
.sm_hr {
	background:#e9e7e6;
	margin:0 0 30px 0;
	clear:both;
}
@media (min-width: 768px) and (max-width: 979px) {
	.sm_hr { margin:15px 0; }
}
.dropcap {
	border-radius:0;
	color:#98ba33;
	background:#fff;
	border:4px solid #e9e7e6;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	margin-bottom:30px;
}
.testimonials .testi-item {
	margin:0;
	overflow:visible;
}
.testimonials .testi-item blockquote {
	background:none;
	border:1px solid #e9e7e6;
	border-radius:0;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
}
.testimonials .testi-item blockquote a:hover { color:#98ba33; }
.testimonials .testi-item blockquote:before { border-top-color:#e9e7e6; }
.spacer {
	clear:both;
	height:40px;
}
.posts-grid li { margin-bottom:10px; }
.posts-grid li h5 {
	text-transform:uppercase;
	margin-bottom:5px;
}
.posts-grid li .featured-thumbnail { margin:0 0 15px 0; }
footer.footer {
	background:none;
	border:none;
	padding:0 0 10px 0;
}
footer.footer .footer-widgets {
	margin:-2px -21px 10px;
	padding:30px 20px 15px 20px;
	background:#fff;
	border:1px solid #e9e7e6;
	border-top:transparent;
}
@media (min-width: 1200px) {
	footer.footer .footer-widgets {
		margin:-2px -31px 10px;
		padding:30px 30px 15px 30px;
	}
}
@media (max-width: 767px) {
	footer.footer .footer-widgets {
		margin:-2px 10px 10px;
		padding:30px 10px 15px 10px;
	}
}
footer.footer .footer-widgets:before {
	height:1px;
	background:#e9e7e6;
	content:"";
	display:block;
	width:100%;
	margin:-30px 0 30px 0;
}
footer.footer .footer-widgets h3 { margin:0 0 15px 0; }
footer.footer .footer-widgets ul li a { color:#787878; }
footer.footer .footer-widgets ul li a:hover {
	color:#98ba33;
	text-decoration:none;
}
footer.footer .footer-nav { margin:0 -20px 0 0; }
@media (min-width: 1200px) {
	footer.footer .footer-nav { margin:0 -30px 0 0; }
}
@media (max-width: 767px) {
	footer.footer .footer-nav { margin:0 10px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	footer.footer .footer-nav ul { text-align:right; }
}
footer.footer .footer-nav ul li {
	background:none;
	padding:0 0 0 15px;
}
@media (min-width: 768px) and (max-width: 979px) {
	footer.footer .footer-nav ul li { padding:0 0 0 10px; }
}
footer.footer .footer-nav ul li.current_page_item a, footer.footer .footer-nav ul li.current-menu-item a, footer.footer .footer-nav ul li a:hover {
	color:#98ba33;
	text-decoration:none;
}
footer.footer .footer-text {
	margin:0 0 0 -20px;
	color:#181818;
}
@media (min-width: 1200px) {
	footer.footer .footer-text { margin:0 0 0 -30px; }
}
@media (max-width: 767px) {
	footer.footer .footer-text { margin:0 10px; }
}
footer.footer .footer-text .site-name {
	color:#181818;
	text-decoration:none !important;
}
#back-top span { background-color:#98ba33; }
#back-top span:hover { background-color:#907968; }
body #motopress-main.main-holder .advanced_categories {
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
}
body #motopress-main.main-holder .advanced_categories_item {
	display:inline-block;
	vertical-align:top;
	padding:0;
	margin:0;
	list-style:none;
	font-size:14px;
	line-height:20px;
}
body #motopress-main.main-holder .advanced_categories_item_inner { padding:10px; }
body #motopress-main.main-holder .advanced_categories_item_inner figure {
	margin:0;
	text-align:center;
}
body #motopress-main.main-holder .advanced_categories.cols_1 .advanced_categories_item { width:100%; }
body #motopress-main.main-holder .advanced_categories.cols_2 .advanced_categories_item { width:50%; }
body #motopress-main.main-holder .advanced_categories.cols_3 .advanced_categories_item { width:33.3%; }
body #motopress-main.main-holder .advanced_categories.cols_4 .advanced_categories_item { width:25%; }
body #motopress-main.main-holder .advanced_categories.cols_5 .advanced_categories_item { width:20%; }
body #motopress-main.main-holder .advanced_categories.cols_6 .advanced_categories_item { width:16.5%; }
body #motopress-main.main-holder .shop-nav ul {
	padding:0;
	margin:0 0 0 -20px;
}
@media (min-width: 1241px) {
	body #motopress-main.main-holder .shop-nav ul { margin:0 0 0 -30px; }
}
@media (min-width: 1200px) and (max-width: 1240px) {
	body #motopress-main.main-holder .shop-nav ul { margin:0 0 0 -10px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .shop-nav ul { padding:0; }
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .shop-nav ul {
		text-align:center;
		padding:5px 0;
		margin:0 10px;
	}
}
body #motopress-main.main-holder .shop-nav ul li {
	display:inline-block;
	padding:0 15px 0 0;
	list-style:none;
	font-size:14px;
	line-height:20px;
	background:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .shop-nav ul li {
		font-size:12px;
		padding:0 0 0 10px;
	}
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .shop-nav ul li { padding:0 5px; }
}
body #motopress-main.main-holder .shop-nav ul li a {
	color:#a1877e;
	display:inline-block;
	vertical-align:middle;
}
body #motopress-main.main-holder .shop-nav ul li a:before {
	font-family:FontAwesome;
	font-size:18px;
	line-height:20px;
	content:"\f0a9";
	color:#98ba33;
	vertical-align:middle;
	display:inline-block;
	margin:-4px 6px 0 0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
}
body #motopress-main.main-holder .shop-nav ul li a:hover, body #motopress-main.main-holder .shop-nav ul li a:focus, body #motopress-main.main-holder .shop-nav ul li a:active {
	color:#98ba33;
	text-decoration:none;
}
body #motopress-main.main-holder .shop-nav ul li a:hover:before, body #motopress-main.main-holder .shop-nav ul li a:focus:before, body #motopress-main.main-holder .shop-nav ul li a:active:before { color:#301b15; }
body #motopress-main.main-holder .shop-nav ul li ul { display:none; }
body #motopress-main.main-holder .cart-holder {
	position:relative;
	z-index:10;
	margin:0 45px 0 0;
	padding:0;
	text-align:right;
	float:right;
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .cart-holder { margin:0; }
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .cart-holder {
		float:none;
		text-align:center;
		padding:5px 0;
		margin:0 10px;
	}
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content {
	display:none;
	position:absolute;
	width:230px;
	padding:10px 20px;
	right:50%;
	margin:0 -135px 0 0;
	top:102%;
	background:#fff;
	border:1px solid #e9e7e6;
	border-radius:0;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	text-align:left;
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content {
		right:0;
		margin:0;
	}
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content {
		right:50%;
		margin:0 -125px 0 0;
	}
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list {
	margin:0;
	padding:0;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li {
	list-style:none;
	background:none;
	padding:10px 0;
	overflow:hidden;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li img, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li img {
	float:left;
	margin:5px 10px 0 1px;
	background:#fff;
	border:1px solid #e5e5e5;
	border-radius:0;
	width:50px;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li a:hover img, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li a:hover img { border:1px solid #98ba33; }
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li .quantity, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li .js_widget_product_price, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li .quantity, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li .js_widget_product_price {
	display:block;
	overflow:hidden;
	margin:0 0 0 60px;
	width:auto;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li .variation, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li .variation {
	overflow:hidden;
	border:none;
	padding:0;
	margin:0 0 0 60px;
	font-size:12.6px;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li .variation dt, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li .variation dt { float:left; }
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .product_list_widget li .variation dd, body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .cart_list li .variation dd {
	margin:0 0 0 4px;
	float:left;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .total {
	margin:0;
	padding:5px 0 15px;
	text-align:right;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .buttons {
	margin:0;
	text-align:center;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .buttons .button {
	font-size:13px;
	padding:9px 17px 10px;
}
body #motopress-main.main-holder .cart-holder .widget_shopping_cart_content .empty {
	text-align:center;
	display:block;
}
body #motopress-main.main-holder .cart-holder h3 {
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	line-height:20px;
	margin:0;
	padding:20px 0 22px 66px;
	font-weight:normal;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#181818;
	background:url(images/bg-cart.png) no-repeat 0 0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
}
body #motopress-main.main-holder .cart-holder h3:after {
	font-family:FontAwesome;
	font-weight:normal;
	display:inline-block;
	content:"\f103";
	font-size:16px;
	margin:-4px 0 0 15px;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	vertical-align:middle;
}
body #motopress-main.main-holder .cart-holder h3:hover { color:#98ba33; }
body #motopress-main.main-holder .content-holder .page-title { display:none; }
body #motopress-main.main-holder .content-holder div.product div.images div.thumbnails {
	display:block;
	margin:0;
	text-align:center;
	padding-top:0;
	font-size:0;
	line-height:0;
}
body #motopress-main.main-holder .content-holder div.product div.images div.thumbnails a {
	width:auto;
	max-width:90px;
	margin:0 1px 2px;
	float:none;
	display:inline-block;
}
body #motopress-main.main-holder .content-holder div.product div.images div.thumbnails a img { margin:0; }
body #motopress-main.main-holder .content-holder div.product div.images div.thumbnails a:hover img { box-shadow:none; }
body #motopress-main.main-holder .content-holder div.product .summary .quantity { margin:5px 10px 3px 0; }
body #motopress-main.main-holder .content-holder div.product .summary .quantity .qty { margin-bottom:0px; }
body #motopress-main.main-holder .content-holder div.product .summary h1:first-letter { text-transform:uppercase; }
body #motopress-main.main-holder .content-holder div.product .summary .share-buttons {
	border-top:1px solid #ddd;
	margin:15px 0 0 0;
	padding:15px 0 15px;
}
body #motopress-main.main-holder .content-holder div.product .summary .product_meta span { display:block; }
body #motopress-main.main-holder .content-holder div.product div .tabs {
	padding:0 0 0 8px;
	margin:0;
	background:none;
	position:relative;
	border-radius:0;
}
body #motopress-main.main-holder .content-holder div.product div .tabs:before, body #motopress-main.main-holder .content-holder div.product div .tabs:after {
	border:none;
	box-shadow:none;
	display:none;
}
body #motopress-main.main-holder .content-holder div.product div .tabs li.active {
	background:none;
	border-bottom:none;
	top:0px;
}
body #motopress-main.main-holder .content-holder div.product div .tabs li.active a {
	color:#98ba33;
	background:#e0e0e0;
	border:1px solid #d0d0d0;
	cursor:default;
}
body #motopress-main.main-holder .content-holder div.product div .tabs li {
	margin:0 1px 0 0;
	padding:0;
	background:none;
	border:none;
	box-shadow:none;
	font-size:inherit;
	position:relative;
}
body #motopress-main.main-holder .content-holder div.product div .tabs li a {
	text-shadow:none;
	color:inherit;
	padding:8px 15px;
	font-weight:bold;
	text-decoration:none;
	display:block;
	background:#eee;
	border-radius:0 0 0 0;
	border:1px solid #ddd;
	margin:0 0 -1px 0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
}
body #motopress-main.main-holder .content-holder div.product div .tabs li a:hover {
	color:#98ba33;
	background:#e0e0e0;
	border:1px solid #d0d0d0;
}
body #motopress-main.main-holder .content-holder div.product div .tabs li:before, body #motopress-main.main-holder .content-holder div.product div .tabs li:after {
	border:none;
	box-shadow:none;
	display:none;
}
body #motopress-main.main-holder .content-holder div.product div.panel {
	padding:15px;
	background:#f6f6f6;
	border:1px solid #ddd;
	border-radius:0;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
}
body #motopress-main.main-holder .content-holder div.product div.panel #reviews #comments ol.commentlist li .comment_container img { margin-top:6px; }
body #motopress-main.main-holder .content-holder div.product div.panel #reviews #comments ol.commentlist li .comment-text {
	border:none;
	padding-top:0;
}
body #motopress-main.main-holder .content-holder div.product div.panel #reviews #comments ol.commentlist li p.meta { font-size:12px; }
body #motopress-main.main-holder .content-holder div.product table.variations tr td {
	background:none;
	color:#787878;
	text-shadow:none;
}
body #motopress-main.main-holder .content-holder div.product table.variations tr td label { padding-top:7px; }
@media (max-width: 480px) {
	body #motopress-main.main-holder .content-holder div.product div .tabs { padding:0 0 0 0px; }
	body #motopress-main.main-holder .content-holder div.product div .tabs:before, body #motopress-main.main-holder .content-holder div.product div .tabs:after {
		border:none;
		box-shadow:none;
		display:none;
	}
	body #motopress-main.main-holder .content-holder div.product div .tabs li {
		display:block;
		box-shadow:none;
		margin-bottom:-2px;
		z-index:10 !important;
		border-radius:0;
		margin:0 0px;
		top:0px;
		float:none;
		border-bottom:none;
	}
	body #motopress-main.main-holder .content-holder div.product div .tabs li:before, body #motopress-main.main-holder .content-holder div.product div .tabs li:after {
		border:none;
		box-shadow:none;
		display:none;
	}
	body #motopress-main.main-holder .content-holder div.product div .tabs li a {
		display:block;
		padding-bottom:.5em;
		float:none;
	}
	body #motopress-main.main-holder .content-holder div.product div.images, body #motopress-main.main-holder .content-holder div.product div.summary {
		float:none;
		width:100%;
	}
}
body #motopress-main.main-holder .content-holder ul.products li.product >a img, body #motopress-main.main-holder .content-holder div.product div.images >a img, body #motopress-main.main-holder .content-holder div.product div.images .thumbnails >a img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100% !important;
	height:auto !important;
	display:block;
	margin:0 0 8px;
	background:#fff;
	border:1px solid #e5e5e5;
	border-radius:0;
	box-shadow:none;
	padding:0;
	-webkit-transition:all ease-in-out .2s;
	-moz-transition:all ease-in-out .2s;
	-o-transition:all ease-in-out .2s;
	transition:all ease-in-out .2s;
}
body #motopress-main.main-holder .content-holder ul.products li.product >:hover img, body #motopress-main.main-holder .content-holder div.product div.images >:hover img, body #motopress-main.main-holder .content-holder div.product div.images .thumbnails >:hover img {
	border:1px solid #98ba33;
	box-shadow:none;
}
body #motopress-main.main-holder .content-holder div.product div.images {
	width:300px;
	margin-bottom:2em;
	margin-right:20px;
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .content-holder div.product div.images { width:200px; }
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .content-holder div.product div.images {
		width:48%;
		margin-right:0;
	}
}
@media (max-width: 480px) {
	body #motopress-main.main-holder .content-holder div.product div.images { width:100%; }
}
body #motopress-main.main-holder .content-holder div.product .summary {
	float:right;
	width:300px;
}
@media (min-width: 1200px) {
	body #motopress-main.main-holder .content-holder div.product .summary { width:450px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .content-holder div.product .summary { width:256px; }
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .content-holder div.product .summary { width:48%; }
}
body #motopress-main.main-holder .content-holder div.product .summary:after {
	clear:both;
	content:"";
	direction:block;
	width:100%;
}
body #motopress-main.main-holder .content-holder div.product .summary .price { text-align:left !important; }
body #motopress-main.main-holder .content-holder div.product .summary .cart {
	float:left;
	width:60%;
}
body #motopress-main.main-holder .content-holder div.product .summary .cart.variations_form {
	float:none;
	width:100%;
}
body #motopress-main.main-holder .content-holder div.product .summary .single_variation_wrap:after {
	clear:both;
	content:"";
	width:100%;
	display:block;
}
body #motopress-main.main-holder .content-holder div.product .summary .single_variation { padding:0 0 10px 0; }
body #motopress-main.main-holder .content-holder div.product .summary .single_variation .stock { max-width:70%; }
body #motopress-main.main-holder .content-holder div.product .summary .variations_button { clear:both; }
body #motopress-main.main-holder .content-holder div.product .summary .variations_button:after {
	content:"";
	width:100%;
	display:block;
	clear:both;
}
body #motopress-main.main-holder .content-holder div.product .summary .stock {
	float:right;
	max-width:40%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px 10px;
	font-size:12px;
	line-height:16px;
	text-align:center;
	color:#98ba33;
	font-family:'Open Sans', sans-serif;
	background:#fff;
	border-radius:0;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	border:3px solid #e9e7e6;
}
body #motopress-main.main-holder .content-holder div.product .summary .stock.out-of-stock { background:#9d261d; }
body #motopress-main.main-holder .content-holder div.product .summary .product_meta { clear:both; }
body #motopress-main.main-holder .content-holder div.product #tabs { padding:0; }
body #motopress-main.main-holder .content-holder ul.products li.product >a .price, body #motopress-main.main-holder .content-holder div.product .summary .price {
	color:#98ba33;
	font-size:17px;
	line-height:20px;
	float:none;
	text-align:left;
	font-family:'Open Sans', sans-serif;
}
body #motopress-main.main-holder .content-holder ul.products li.product >a .price del, body #motopress-main.main-holder .content-holder ul.products li.product >a .price span.from, body #motopress-main.main-holder .content-holder div.product .summary .price del, body #motopress-main.main-holder .content-holder div.product .summary .price span.from {
	font-size:16px;
	display:inline-block;
	text-transform:lowercase;
	color:#000;
}
body #motopress-main.main-holder .content-holder ul.products li.product >a .price ins, body #motopress-main.main-holder .content-holder div.product .summary .price ins { text-decoration:none; }
body #motopress-main.main-holder .content-holder ul.products li.product >a .price .from, body #motopress-main.main-holder .content-holder div.product .summary .price .from {
	margin:0 5px 0 0;
	font-size:14px;
}
body #motopress-main.main-holder .content-holder ul.products li.product >a:hover { text-decoration:none; }
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .content-holder .home_recent_products ul.products li.product {
		width:28%;
		margin:0 2% 30px;
	}
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .content-holder .home_recent_products ul.products li.product {
		width:31.5%;
		margin:0 0.5% 20px;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media (max-width: 560px) {
	body #motopress-main.main-holder .content-holder .home_recent_products ul.products li.product {
		width:47%;
		margin:0 1% 20px;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media (max-width: 480px) {
	body #motopress-main.main-holder .content-holder .home_recent_products ul.products li.product {
		width:47%;
		margin:0 1% 20px;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media (max-width: 320px) {
	body #motopress-main.main-holder .content-holder .home_recent_products ul.products li.product {
		width:100%;
		margin-left:0;
		display:block;
	}
}
body #motopress-main.main-holder .content-holder .products ul, body #motopress-main.main-holder .content-holder ul.products {
	float:none !important;
	margin:25px 0 0 -20px !important;
	list-style:none;
}
@media (min-width: 1200px) {
	body #motopress-main.main-holder .content-holder .products ul, body #motopress-main.main-holder .content-holder ul.products { margin:25px 0 0 -30px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .content-holder .products ul, body #motopress-main.main-holder .content-holder ul.products {
		display:table;
		width:auto;
		margin:0 auto !important;
	}
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .content-holder .products ul, body #motopress-main.main-holder .content-holder ul.products { margin-left:0 !important; }
}
@media (max-width: 480px) {
	body #motopress-main.main-holder .content-holder .products ul, body #motopress-main.main-holder .content-holder ul.products { margin-left:0 !important; }
}
body #motopress-main.main-holder .content-holder .products ul li.first, body #motopress-main.main-holder .content-holder ul.products li.first { clear:both; }
body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
	float:left;
	width:140px;
	margin:0 0 30px 20px;
	position:relative;
	text-align:left;
	vertical-align:top;
	background:none;
}
body #motopress-main.main-holder .content-holder .products ul li.product a.added_to_cart, body #motopress-main.main-holder .content-holder ul.products li.product a.added_to_cart { display:none; }
body #motopress-main.main-holder .content-holder .products ul li.product .star-rating, body #motopress-main.main-holder .content-holder ul.products li.product .star-rating {
	position:absolute;
	top:0;
	opacity:0;
	visibility:hidden;
	left:10px;
	background:#fff;
	border:6px solid #fff;
	box-shadow:0 0 0 2px #98ba33;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
}
body #motopress-main.main-holder .content-holder .products ul li.product .star-rating .rate_content, body #motopress-main.main-holder .content-holder ul.products li.product .star-rating .rate_content { right:-7px; }
body #motopress-main.main-holder .content-holder .products ul li.product .star-rating:hover .rate_content, body #motopress-main.main-holder .content-holder ul.products li.product .star-rating:hover .rate_content { top:-52px; }
body #motopress-main.main-holder .content-holder .products ul li.product a:hover .star-rating, body #motopress-main.main-holder .content-holder ul.products li.product a:hover .star-rating {
	top:10px;
	visibility:visible;
	opacity:1;
}
body #motopress-main.main-holder .content-holder .products ul li.product .btn, body #motopress-main.main-holder .content-holder .products ul li.product .button, body #motopress-main.main-holder .content-holder ul.products li.product .btn, body #motopress-main.main-holder .content-holder ul.products li.product .button {
	vertical-align:top;
	padding-right:11px;
}
body #motopress-main.main-holder .content-holder .products ul li.product .btn:after, body #motopress-main.main-holder .content-holder .products ul li.product .button:after, body #motopress-main.main-holder .content-holder ul.products li.product .btn:after, body #motopress-main.main-holder .content-holder ul.products li.product .button:after {
	font-family:FontAwesome;
	content:"\f0a9";
	display:inline-block;
	font-size:18px;
	margin:-2px 0 0 6px;
	vertical-align:middle;
}
body #motopress-main.main-holder .content-holder .products ul li.product .btn, body #motopress-main.main-holder .content-holder ul.products li.product .btn { margin:3px 0 0 0; }
body #motopress-main.main-holder .content-holder .products ul li.product h3, body #motopress-main.main-holder .content-holder .products ul li.product strong, body #motopress-main.main-holder .content-holder ul.products li.product h3, body #motopress-main.main-holder .content-holder ul.products li.product strong {
	font-size:14px;
	line-height:18px;
	color:#787878;
	padding:0 0 5px 0;
	min-height:36px;
	font-style:normal;
	font-weight:normal;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
}
body #motopress-main.main-holder .content-holder .products ul li.product h3:hover, body #motopress-main.main-holder .content-holder .products ul li.product strong:hover, body #motopress-main.main-holder .content-holder ul.products li.product h3:hover, body #motopress-main.main-holder .content-holder ul.products li.product strong:hover { color:#98ba33; }
body #motopress-main.main-holder .content-holder .products ul li.product .short_desc, body #motopress-main.main-holder .content-holder ul.products li.product .short_desc { padding:0 0 10px 0; }
@media (min-width: 1200px) {
	body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
		width:170px;
		margin-left:30px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
		width:148px;
		margin-left:5px;
		margin-right:5px;
	}
	body #motopress-main.main-holder .content-holder .products ul li.product.first, body #motopress-main.main-holder .content-holder .products ul li.product.last, body #motopress-main.main-holder .content-holder ul.products li.product.first, body #motopress-main.main-holder .content-holder ul.products li.product.last { clear:none; }
	body #motopress-main.main-holder .content-holder .products ul li.product:nth-child(3n+1), body #motopress-main.main-holder .content-holder ul.products li.product:nth-child(3n+1) { clear:both !important; }
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
		width:23%;
		margin:0 0.5% 20px;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media (max-width: 560px) {
	body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
		width:47%;
		margin:0 1% 20px;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media (max-width: 480px) {
	body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
		width:47%;
		margin:0 1% 20px;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
@media (max-width: 320px) {
	body #motopress-main.main-holder .content-holder .products ul li.product, body #motopress-main.main-holder .content-holder ul.products li.product {
		width:100%;
		margin-left:0;
		display:block;
	}
}
body #motopress-main.main-holder .content-holder *[class*="breadcrumb"], body #motopress-main.main-holder .content-holder *[id*="breadcrumb"] {
	padding:8px 20px;
	margin:0 -20px;
	list-style:none;
	background-color:none;
	border-top:1px solid #e9e7e6;
	border-bottom:1px solid #e9e7e6;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	text-shadow:none;
	color:#907968;
}
@media (min-width: 1200px) {
	body #motopress-main.main-holder .content-holder *[class*="breadcrumb"], body #motopress-main.main-holder .content-holder *[id*="breadcrumb"] {
		margin:0 -30px;
		padding:8px 30px;
	}
}
@media (max-width: 767px) {
	body #motopress-main.main-holder .content-holder *[class*="breadcrumb"], body #motopress-main.main-holder .content-holder *[id*="breadcrumb"] {
		margin:0 -10px;
		padding:8px 10px;
	}
}
body #motopress-main.main-holder .content-holder *[class*="breadcrumb"] a, body #motopress-main.main-holder .content-holder *[id*="breadcrumb"] a { color:#98ba33; }
body #motopress-main.main-holder .content-holder *[class*="breadcrumb"] a:hover, body #motopress-main.main-holder .content-holder *[id*="breadcrumb"] a:hover { color:#907968; }
body #motopress-main.main-holder .content-holder .onsale {
	position:absolute;
	min-height:32px;
	min-width:40px;
	padding:0 4px;
	font-family:'Open Sans', sans-serif;
	font-size:12px;
	font-weight:600;
	text-align:center;
	line-height:32px;
	top:10px;
	border-radius:0;
	box-shadow:none;
	background:#98ba33;
	right:-5px;
	left:auto;
	margin:0;
	color:#fff;
	text-shadow:none;
	border:0px transparent solid;
}
body #motopress-main.main-holder .content-holder .onsale:after {
	width:0px;
	height:0px;
	border-style:solid;
	border-width:5px 5px 0 0;
	border-color:#576a1d transparent transparent transparent;
	position:absolute;
	right:0;
	bottom:-5px;
	content:"";
}
body #motopress-main.main-holder .content-holder .woocommerce-ordering select.orderby { margin:0 0 15px 0; }
@media (max-width: 480px) {
	body #motopress-main.main-holder .content-holder .order_details li {
		float:none;
		display:block;
		padding:0 0 10px 0;
		margin:0;
		border:none;
	}
}
body #motopress-main.main-holder a.button, body #motopress-main.main-holder button.button, body #motopress-main.main-holder input.button, body #motopress-main.main-holder #respond input#submit, body #motopress-main.main-holder #content input.button, body #motopress-main.main-holder input[type="submit"], body #motopress-main.main-holder .button-alt {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:9px 19px 10px;
	margin-bottom:0;
	font-size:14px !important;
	line-height:20px !important;
	color:#fff;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background:#907968;
	border:none;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	text-shadow:none;
	box-shadow:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder a.button, body #motopress-main.main-holder button.button, body #motopress-main.main-holder input.button, body #motopress-main.main-holder #respond input#submit, body #motopress-main.main-holder #content input.button, body #motopress-main.main-holder input[type="submit"], body #motopress-main.main-holder .button-alt { padding:9px 10px 10px; }
}
body #motopress-main.main-holder a.button:hover, body #motopress-main.main-holder a.button:focus, body #motopress-main.main-holder button.button:hover, body #motopress-main.main-holder button.button:focus, body #motopress-main.main-holder input.button:hover, body #motopress-main.main-holder input.button:focus, body #motopress-main.main-holder #respond input#submit:hover, body #motopress-main.main-holder #respond input#submit:focus, body #motopress-main.main-holder #content input.button:hover, body #motopress-main.main-holder #content input.button:focus, body #motopress-main.main-holder input[type="submit"]:hover, body #motopress-main.main-holder input[type="submit"]:focus, body #motopress-main.main-holder .button-alt:hover, body #motopress-main.main-holder .button-alt:focus {
	color:#fff;
	background:#98ba33;
	text-decoration:none;
}
body #motopress-main.main-holder a.button:focus, body #motopress-main.main-holder button.button:focus, body #motopress-main.main-holder input.button:focus, body #motopress-main.main-holder #respond input#submit:focus, body #motopress-main.main-holder #content input.button:focus, body #motopress-main.main-holder input[type="submit"]:focus, body #motopress-main.main-holder .button-alt:focus { text-decoration:none; }
body #motopress-main.main-holder a.button.active, body #motopress-main.main-holder a.button:active, body #motopress-main.main-holder button.button.active, body #motopress-main.main-holder button.button:active, body #motopress-main.main-holder input.button.active, body #motopress-main.main-holder input.button:active, body #motopress-main.main-holder #respond input#submit.active, body #motopress-main.main-holder #respond input#submit:active, body #motopress-main.main-holder #content input.button.active, body #motopress-main.main-holder #content input.button:active, body #motopress-main.main-holder input[type="submit"].active, body #motopress-main.main-holder input[type="submit"]:active, body #motopress-main.main-holder .button-alt.active, body #motopress-main.main-holder .button-alt:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
body #motopress-main.main-holder a.button.disabled, body #motopress-main.main-holder a.button[disabled], body #motopress-main.main-holder button.button.disabled, body #motopress-main.main-holder button.button[disabled], body #motopress-main.main-holder input.button.disabled, body #motopress-main.main-holder input.button[disabled], body #motopress-main.main-holder #respond input#submit.disabled, body #motopress-main.main-holder #respond input#submit[disabled], body #motopress-main.main-holder #content input.button.disabled, body #motopress-main.main-holder #content input.button[disabled], body #motopress-main.main-holder input[type="submit"].disabled, body #motopress-main.main-holder input[type="submit"][disabled], body #motopress-main.main-holder .button-alt.disabled, body #motopress-main.main-holder .button-alt[disabled] {
	cursor:default;
	background-image:none;
	opacity:0.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
body #motopress-main.main-holder .product_list_widget { padding:10px 0; }
body #motopress-main.main-holder .product_list_widget li {
	padding:15px 0 15px 0 !important;
	overflow:visible;
	text-align:right;
	border-top:1px solid #e9e7e6;
	background:none;
}
body #motopress-main.main-holder .product_list_widget li:first-child {
	padding-top:0;
	border-top:none;
}
body #motopress-main.main-holder .product_list_widget li:after {
	content:"";
	clear:both;
	width:100%;
	display:block;
}
body #motopress-main.main-holder .product_list_widget li .star-rating {
	margin:3px 0 3px 76px;
	float:none !important;
}
body #motopress-main.main-holder .product_list_widget li .js_widget_product_price {
	display:block;
	margin:0 0 0 76px;
	overflow:hidden;
}
body #motopress-main.main-holder .product_list_widget li img {
	width:60px;
	float:left;
	margin:0 10px 0 0;
	height:auto;
	border:3px solid #fff;
	outline:1px solid #e9e7e6;
	background:#fff;
	border-radius:0;
	box-shadow:none;
}
body #motopress-main.main-holder .product_list_widget li a {
	font-weight:normal;
	font-family:'Open Sans', sans-serif;
	text-align:left;
	display:block;
	color:#787878;
}
body #motopress-main.main-holder .product_list_widget li a:hover {
	color:#907968;
	text-decoration:none;
}
body #motopress-main.main-holder .product_list_widget li a:hover img {
	border:3px solid #fff;
	outline:1px solid #e9e7e6;
}
body #motopress-main.main-holder .product_list_widget li ins {
	text-decoration:none;
	font-weight:bold;
}
body #motopress-main.main-holder .product_list_widget li > .amount { display:block; }
body #motopress-main.main-holder .product_list_widget.cart_list li { text-align:left; }
body #motopress-main.main-holder #searchform #s {
	vertical-align:middle;
	margin:0;
	width:155px;
}
body #motopress-main.main-holder .price_slider {
	position:relative;
	background:#eee;
	box-shadow:0 0 3px rgba(0,0,0,0.5) inset;
	border-radius:10px;
	height:8px;
	margin:20px 8px;
}
body #motopress-main.main-holder .price_slider .ui-slider-range {
	background:#98ba33;
	background-color:#a6c745;
	background-image:-moz-linear-gradient(top,#afcf51,#98ba33);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#afcf51),to(#98ba33));
	background-image:-webkit-linear-gradient(top,#afcf51,#98ba33);
	background-image:-o-linear-gradient(top,#afcf51,#98ba33);
	background-image:linear-gradient(to bottom,#afcf51,#98ba33);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffafcf50', endColorstr='#ff98ba33', GradientType=0);
	height:8px;
	border-radius:10px;
	position:absolute;
}
body #motopress-main.main-holder .price_slider .ui-slider-handle {
	width:14px;
	height:14px;
	background:#98ba33;
	border:1px solid #718a26;
	border-radius:8px;
	position:absolute;
	top:-4px;
	margin:0 0 0 -8px;
	box-shadow:0 1px 3px rgba(0,0,0,0.2), 0 -1px 3px #779228 inset, 0 1px 3px #afcf51 inset;
	cursor:default;
}
body #motopress-main.main-holder .price_slider .ui-slider-handle:after {
	content:"";
	position:absolute;
	width:6px;
	height:6px;
	background:#576a1d;
	border-radius:3px;
	left:4px;
	top:4px;
}
body #motopress-main.main-holder .price_slider .ui-slider-handle.ui-state-hover {
	background:#afcf51;
	border:1px solid #8baa2f;
}
body #motopress-main.main-holder .price_slider .ui-slider-handle.ui-state-hover:after { background:#718a26; }
body #motopress-main.main-holder .price_slider_amount { text-align:center; }
body #motopress-main.main-holder .price_slider_amount .price_label { padding:10px 0 0 0; }
body #motopress-main.main-holder .sidebar ul.cart_list {
	list-style:none outside;
	padding:0;
	margin:0;
}
body #motopress-main.main-holder .sidebar ul.cart_list li {
	padding:4px 0;
	margin:0;
	list-style:none;
	overflow:visible !important;
	background:none;
}
body #motopress-main.main-holder .sidebar ul.cart_list li:before { display:none; }
body #motopress-main.main-holder .sidebar ul.cart_list li:after {
	display:block;
	width:100%;
	content:"";
	clear:both;
}
body #motopress-main.main-holder .sidebar ul.cart_list li span {
	width:60px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
	zoom:1;
	list-style:none;
}
body #motopress-main.main-holder .sidebar ul.cart_list li a {
	display:block;
	font-weight:bold;
}
body #motopress-main.main-holder .sidebar ul.cart_list li a img {
	height:auto;
	float:right;
	width:45px;
	display:block;
	margin:0 0 8px;
	border:1px solid #e5e5e5;
	background:#fff;
	border-radius:0;
	box-shadow:none;
	transition:all ease-in-out .2s;
}
body #motopress-main.main-holder .sidebar ul.cart_list li a:hover img { border:1px solid #98ba33; }
body #motopress-main.main-holder #content form .form-row input.input-text, body #motopress-main.main-holder #content form .form-row textarea, body #motopress-main.main-holder #content form select, body #motopress-main.main-holder #content .chzn-container input[type="text"], body #motopress-main.main-holder #container form .form-row input.input-text, body #motopress-main.main-holder #container form .form-row textarea, body #motopress-main.main-holder #container form select, body #motopress-main.main-holder #container .chzn-container input[type="text"] {
	height:30px;
	padding:6px;
	line-height:16px;
	max-height:200px;
	max-width:100%;
	font-size:14px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);
	background:#fff;
}
body #motopress-main.main-holder #content form .form-row textarea, body #motopress-main.main-holder #container form .form-row textarea {
	height:100px;
	min-height:90px;
}
body #motopress-main.main-holder #content form select, body #motopress-main.main-holder #container form select { padding:4px 5px; }
body #motopress-main.main-holder #content .page .coupon .input-text, body #motopress-main.main-holder #content .page .checkout_coupon .input-text {
	float:none;
	vertical-align:middle;
}
body #motopress-main.main-holder #content .page .shop_table {
	border-radius:0;
	border:1px solid #ddd;
}
body #motopress-main.main-holder #content .page .shop_table tr th { background:#f5f5f5; }
body #motopress-main.main-holder #content .page .shop_table tr td { border-top:1px solid #ddd; }
body #motopress-main.main-holder #content .page .shop_table tr:last-child th:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:last-child th:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:last-child tr:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:last-child tr:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:first-child th:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:first-child th:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:first-child tr:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page .shop_table tr:first-child tr:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:first-child th:first-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:first-child th:first-child { border-radius:0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:first-child th:last-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:first-child th:last-child { border-radius:0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:first-child tr:first-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:first-child tr:first-child { border-radius:0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:first-child tr:last-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:first-child tr:last-child { border-radius:0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:last-child th:first-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:last-child th:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:last-child th:last-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:last-child th:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:last-child tr:last-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:last-child tr:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page #order_review .shop_table tfoot tr:last-child tr:first-child, body #motopress-main.main-holder #content .page .order_details.shop_table tfoot tr:last-child tr:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals:after {
	clear:both;
	content:"";
	width:100%;
	display:block;
}
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals {
	float:left;
	margin-top:11px;
	text-align:left;
	width:50%;
}
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals h2 { margin:0 0 24px 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table {
	border-radius:0;
	border:1px solid #ddd;
	width:90%;
}
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr td {
	padding:3px 15px;
	border:none;
	border-top:1px solid #ddd;
}
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr th {
	padding:10px;
	border:none;
	border-top:1px solid #ddd;
	background:#f5f5f5;
}
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:first-child td { border-top:none; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:first-child th { border-top:none; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:last-child th:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:first-child th:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:first-child th:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:first-child tr:first-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table tr:first-child tr:last-child { border-radius:0 0 0 0; }
body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table>tbody>tr>td { text-align:right; }
@media (max-width: 480px) {
	body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals {
		float:none;
		width:100%;
	}
	body #motopress-main.main-holder #content .page div.cart-collaterals .cart_totals table { width:100%; }
}
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator {
	float:left;
	margin-top:0;
	text-align:left;
	padding:15px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:0;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:50%;
}
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator h2 { margin:0; }
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator h2 a { display:block; }
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator h2 a:hover, body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator h2 a:active, body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator h2 a:focus { text-decoration:none; }
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator h2 a span { display:none; }
@media (max-width: 480px) {
	body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator {
		float:none;
		width:100%;
	}
}
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator .shipping-calculator-form { padding-top:15px; }
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator .col2-set + p { text-align:center; }
body #motopress-main.main-holder #content .page div.cart-collaterals form.shipping_calculator .shipping_select { margin:0 3px 0 0; }
body #motopress-main.main-holder #content .page table.cart dl dt { background:none; }
body #motopress-main.main-holder #content .page table.cart .quantity input[type="button"] { width:25px; }
body #motopress-main.main-holder #content .page a.remove {
	background:none;
	font-size:30px;
	text-indent:0;
	line-height:28px;
	height:auto;
	width:28px;
	overflow:hidden;
}
body #motopress-main.main-holder #content .page a.remove:hover {
	background-position:0 -16px;
	text-decoration:none;
	color:#9d261d;
}
@media (min-width: 768px) and (max-width: 979px) {
	body #motopress-main.main-holder #content .page form table.cart .actions .button + .button { margin-top:4px; }
}
@media (max-width: 767px) {
	body #motopress-main.main-holder #content .page form table.cart .actions .button + .button { margin-top:4px; }
}
@media (max-width: 480px) {
	body #motopress-main.main-holder #content .page form table.cart .actions { text-align:center; }
	body #motopress-main.main-holder #content .page form table.cart .actions .coupon {
		float:none;
		text-align:center;
	}
	body #motopress-main.main-holder #content .page form table.cart .actions .coupon #coupon_code {
		float:none;
		display:block;
		width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:0 0 4px 0;
	}
	body #motopress-main.main-holder #content .page form table.cart .actions .coupon input.button {
		margin:0 5px 5px;
		vertical-align:middle;
	}
	body #motopress-main.main-holder #content .page form table.cart .actions input.button, body #motopress-main.main-holder #content .page form table.cart .actions .checkout-button {
		float:none !important;
		display:inline-block;
		vertical-align:top;
		margin:4px 2px 0;
	}
	body #motopress-main.main-holder #content .page form table.cart thead tr th.product-thumbnail, body #motopress-main.main-holder #content .page form table.cart thead tr th.product-price { display:none; }
	body #motopress-main.main-holder #content .page form table.cart tbody tr td.product-thumbnail, body #motopress-main.main-holder #content .page form table.cart tbody tr td.product-price { display:none; }
}
@media (max-width: 979px) {
	body #motopress-main.main-holder #content .page form table.cart .buttons_added { margin:0; }
	body #motopress-main.main-holder #content .page form table.cart input#coupon_code {
		margin-bottom:10px;
		width:55px;
	}
	body #motopress-main.main-holder #content .page form table.cart input.checkout-button {
		clear:both;
		display:block;
		margin-bottom:10px;
		margin-left:0;
	}
}
@media (max-width: 979px) {
	body #motopress-main.main-holder #content .page .col2-set .col-2 {
		float:none;
		width:100%;
		padding:5px 0;
	}
	body #motopress-main.main-holder #content .page .col2-set .col-1 {
		float:none;
		width:100%;
		padding:5px 0;
	}
}
body #motopress-main.main-holder #content .page .col2-set .col-2 h3 { float:none; }
body #motopress-main.main-holder #content .page .col2-set .col-2 p#shiptobilling {
	float:right;
	line-height:inherit;
	position:relative;
	font-size:11px;
	right:0;
}
body #motopress-main.main-holder #content .page .col2-set .col-2 p#shiptobilling label {
	font-size:inherit;
	padding:0;
}
body #motopress-main.main-holder #content .page .col2-set .col-2 p#shiptobilling .input-checkbox { margin-right:0; }
body #motopress-main.main-holder #content .page .lost_password { margin-left:15px; }
@media (max-width: 480px) {
	body #motopress-main.main-holder #content .page form .form-row {
		padding:3px 0px;
		float:none;
		width:100%;
	}
	body #motopress-main.main-holder #content .page #payment .form-row {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		padding:0 10px;
	}
	body #motopress-main.main-holder #content .page #payment .form-row div.payment_message:after {
		top:-6px;
		left:79%;
	}
}
body #motopress-main.main-holder #content .page td.product-quantity { min-width:inherit; }
body #motopress-main.main-holder #content .page div#payment { background:none; }
body #motopress-main.main-holder #content .page div#payment ul.payment_methods { border:none; }
body #motopress-main.main-holder #content .page div#payment ul.payment_methods input[id^="payment_method_"] {
	float:left;
	margin:3px 4px 0 0 !important;
}
body #motopress-main.main-holder #content .page div#payment div.form-row { border:none; }
body #motopress-main.main-holder #content .page div#payment div.payment_message:after { display:none; }
body #motopress-main.main-holder #content .col2-set.addresses .address h3 {
	float:left;
	margin:0 0 15px 0;
}
body #motopress-main.main-holder .order-actions .button { margin:2px; }
body .cart-collaterals .shipping_calculator button.button {
	max-width:225px;
	width:auto !important;
	margin:0 0 0 4px;
}
body .cart-collaterals .cart_totals h2, body .cart-collaterals .shipping_calculator h2 {
	text-align:left;
	margin:0;
	margin-left:10px;
}
body a.button, body button.button, body input.button, body #respond input#submit, body #content input.button, body .navigation a, body .button-alt, body #submit, body #respond form .form-submit input#submit {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:9px 19px 10px;
	margin-bottom:0;
	font-size:14px !important;
	line-height:20px !important;
	color:#fff;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background:#907968;
	border:none;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	text-shadow:none;
	box-shadow:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	body a.button, body button.button, body input.button, body #respond input#submit, body #content input.button, body .navigation a, body .button-alt, body #submit, body #respond form .form-submit input#submit { padding:9px 10px 10px; }
}
body a.button:hover, body a.button:focus, body button.button:hover, body button.button:focus, body input.button:hover, body input.button:focus, body #respond input#submit:hover, body #respond input#submit:focus, body #content input.button:hover, body #content input.button:focus, body .navigation a:hover, body .navigation a:focus, body .button-alt:hover, body .button-alt:focus, body #submit:hover, body #submit:focus, body #respond form .form-submit input#submit:hover, body #respond form .form-submit input#submit:focus {
	color:#fff;
	background:#98ba33;
	text-decoration:none;
}
body a.button:focus, body button.button:focus, body input.button:focus, body #respond input#submit:focus, body #content input.button:focus, body .navigation a:focus, body .button-alt:focus, body #submit:focus, body #respond form .form-submit input#submit:focus { text-decoration:none; }
body a.button.active, body a.button:active, body button.button.active, body button.button:active, body input.button.active, body input.button:active, body #respond input#submit.active, body #respond input#submit:active, body #content input.button.active, body #content input.button:active, body .navigation a.active, body .navigation a:active, body .button-alt.active, body .button-alt:active, body #submit.active, body #submit:active, body #respond form .form-submit input#submit.active, body #respond form .form-submit input#submit:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
body a.button.disabled, body a.button[disabled], body button.button.disabled, body button.button[disabled], body input.button.disabled, body input.button[disabled], body #respond input#submit.disabled, body #respond input#submit[disabled], body #content input.button.disabled, body #content input.button[disabled], body .navigation a.disabled, body .navigation a[disabled], body .button-alt.disabled, body .button-alt[disabled], body #submit.disabled, body #submit[disabled], body #respond form .form-submit input#submit.disabled, body #respond form .form-submit input#submit[disabled] {
	cursor:default;
	background-image:none;
	opacity:0.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
body #commentform label { display:inline-block; }
body #commentform input[type="text"] {
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:30px;
	padding:5px 6px;
}
body #fancybox-outer #respond, body #fancybox-content #respond { color:#000; }
body #fancybox-outer #respond h3, body #fancybox-content #respond h3 { color:inherit; }
@media (max-width: 580px) {
	body .ppt, body .pp_details { width:90% !important; }
	body .pp_pic_holder {
		max-width:580px;
		width:95% !important;
		left:2% !important;
	}
	body .pp_pic_holder .pp_content {
		width:100% !important;
		height:auto !important;
	}
	body #pp_full_res img {
		width:100% !important;
		height:auto !important;
	}
	body .pp_hoverContainer {
		width:100% !important;
		height:100% !important;
	}
	body a.pp_close { right:-30px !important; }
}
body .pp_description { display:none !important; }
body .pp_fade { position:relative; }
body div.pp_overlay { width:100% !important; }
body .comment-form-comment textarea#comment {
	width:100%;
	max-width:500px;
	min-width:auto;
	resize:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body .reviewer { display:inline-block; }
body .woocommerce a.button.added:before, body .woocommerce button.button.added:before, body .woocommerce input.button.added:before, body .woocommerce #respond input#submit.added:before, body .woocommerce #content input.button.added:before, body .woocommerce-page a.button.added:before, body .woocommerce-page button.button.added:before, body .woocommerce-page input.button.added:before, body .woocommerce-page #respond input#submit.added:before, body .woocommerce-page #content input.button.added:before {
	background:none;
	font-family:FontAwesome;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	content:"\f00c";
	color:#98ba33;
	top:3px;
}
body div.pp_default .pp_content, body div.light_rounded .pp_content { padding:0 0 10px 0; }
body .woocommerce-message, body div.jigoshop_message {
	border-radius:0;
	padding:15px 10px 15px 45px;
	background:#eee;
	border:1px solid #ddd;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	text-shadow:none;
	position:relative;
	line-height:28px;
	font-size:14px;
	color:#98ba33;
	margin:0 0 15px 0;
}
@media (max-width: 480px) {
	body .woocommerce-message, body div.jigoshop_message { padding:15px 10px; }
}
body .woocommerce-message:before, body div.jigoshop_message:before {
	position:absolute;
	left:10px;
	color:#98ba33;
	font-family:FontAwesome;
	content:"\f00c";
	font-size:20px;
	padding:0;
	height:auto;
	background:none;
	box-shadow:none;
}
@media (max-width: 480px) {
	body .woocommerce-message:before, body div.jigoshop_message:before { display:none; }
}
body .woocommerce-message a.button, body div.jigoshop_message a.button {
	margin:-5px 0 !important;
	float:right !important;
}
@media (max-width: 480px) {
	body .woocommerce-message a.button, body div.jigoshop_message a.button {
		float:none !important;
		display:block !important;
		max-width:50%;
		margin:0 auto 10px !important;
	}
}
body .woocommerce-message:before {
	top:50%;
	margin-top:-15px;
}
body div.jigoshop_message:before {
	top:50%;
	margin-top:-9px;
}
body .woocommerce-info {
	border-radius:0;
	padding:10px 10px 10px 45px;
	background:#eee;
	border:1px solid #ddd;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	text-shadow:none;
	position:relative;
	line-height:28px;
	font-size:14px;
}
body .woocommerce-info:before {
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-19px;
	color:#98ba33;
	font-family:FontAwesome;
	content:"\f05a";
	font-size:24px;
	padding:0;
	height:auto;
	background:none;
	box-shadow:none;
	font-style:normal;
}
body .woocommerce-error, body div.jigoshop_error {
	border-radius:0;
	padding:15px 15px 15px 55px;
	background:#eee;
	border:1px solid #ddd;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	text-shadow:none;
	position:relative;
	line-height:28px;
	font-size:14px;
	color:#9d261d;
}
body .woocommerce-error:before, body div.jigoshop_error:before {
	position:absolute;
	left:12px;
	top:50%;
	margin-top:-14px;
	color:#9d261d;
	font-family:FontAwesome;
	content:"\f071";
	font-size:30px;
	padding:0;
	height:auto;
	background:none;
	box-shadow:none;
	font-style:normal;
}
body .woocommerce-error { padding:15px 15px 15px 65px; }
body .woocommerce-error:before { margin-top:-22px; }
body mark {
	font-weight:bold;
	background:none;
	color:#98ba33;
}
div[id^="jigoshop_product_search-"] input[type="text"] {
	margin:2px 5px 2px 0;
	vertical-align:middle;
}
div[id^="jigoshop_product_search-"] input#searchsubmit {
	margin:2px 0 !important;
	vertical-align:middle;
}
#respond { padding:15px; }
#respond #commentform textarea {
	max-width:100%;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-width:0;
}
.products + .clear + .navigation { text-align:center; }
.products + .clear + .navigation div[class*="nav-"] {
	display:inline-block;
	padding:0 5px;
}
@media (max-width: 520px) {
	body.has_shop .order_details li {
		float:none;
		margin:0;
		padding:10px 0;
		border-right:none;
		border-bottom:1px dashed #DFDBDF;
	}
}
.pp_inline #reply-title { margin-right:10px; }
body.has_shop .star-rating {
	font-size:16px;
	width:5.3em;
	font-family:'star';
	height:1em;
	line-height:1em;
	position:relative;
	margin:2px auto;
}
body.has_shop .star-rating:before {
	color:#DFDBDF;
	content:"sssss";
	float:left;
	left:0;
	position:absolute;
	top:0;
}
body.has_shop .star-rating .rate_content { display:none; }
body.has_shop .star-rating span {
	float:left;
	left:0;
	padding-top:1.5em;
	position:absolute;
	top:0;
	overflow:hidden;
	height:0;
}
body.has_shop .star-rating span:before {
	content:"SSSSS";
	left:0;
	position:absolute;
	top:0;
}
body.has_shop .comment-text .star-rating, body.has_shop .product_list_widget .star-rating { font-size:14px; }
body.has_shop .product_list_widget .star-rating { margin:2px 0; }
body.has_shop .star-rating span:before, body.has_shop .star-rating:before { color:#98ba33; }
body.has_shop .star-rating .rate_content { display:none; }
@media (max-width: 480px) {
	body.has_shop .star-rating .rate_content { display:none !important; }
}
body.has_shop div[id^='top-rated-'] .star-rating, body.has_shop .hreview-aggregate .star-rating, body.has_shop .products .product .star-rating, body.has_shop div[itemprop="aggregateRating"] .star-rating {
	position:relative;
	overflow:visible;
}
body.has_shop div[id^='top-rated-'] .star-rating span, body.has_shop .hreview-aggregate .star-rating span, body.has_shop .products .product .star-rating span, body.has_shop div[itemprop="aggregateRating"] .star-rating span {
	height:0;
	overflow:hidden;
	cursor:default;
}
body.has_shop div[id^='top-rated-'] .star-rating .rate_content, body.has_shop .hreview-aggregate .star-rating .rate_content, body.has_shop .products .product .star-rating .rate_content, body.has_shop div[itemprop="aggregateRating"] .star-rating .rate_content {
	position:absolute;
	display:block;
	font-size:11px;
	line-height:15px;
	color:#fff;
	background:#98ba33;
	padding:10px 5px;
	width:110px;
	visibility:hidden;
	opacity:0;
	top:-70px;
	right:0;
	text-align:center;
	margin-left:-45px;
	border-radius:0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	pointer-events:none;
	font-family:Arial, Helvetica, sans-serif;
}
body.has_shop div[id^='top-rated-'] .star-rating .rate_content:after, body.has_shop .hreview-aggregate .star-rating .rate_content:after, body.has_shop .products .product .star-rating .rate_content:after, body.has_shop div[itemprop="aggregateRating"] .star-rating .rate_content:after {
	position:absolute;
	content:"";
	bottom:-6px;
	right:10px;
	border-top:7px solid #98ba33;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:0 solid transparent;
}
body.has_shop div[id^='top-rated-'] .star-rating:hover .rate_content, body.has_shop .hreview-aggregate .star-rating:hover .rate_content, body.has_shop .products .product .star-rating:hover .rate_content, body.has_shop div[itemprop="aggregateRating"] .star-rating:hover .rate_content {
	visibility:visible;
	opacity:1;
	top:-45px;
}
.stars a[class*='star-'] {
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}
body.has_shop.has_jigoshop .star-rating {
	font-size:16px;
	width:80px !important;
	margin:2px auto;
	padding:0 !important;
	position:relative;
}
body.has_shop.has_jigoshop .star-rating:before { display:none; }
body.has_shop.has_jigoshop .star-rating span:before { display:none; }
body.has_shop.has_jigoshop #motopress-main.main-holder .price_slider_amount { text-align:left; }
body.has_shop.has_jigoshop a.button, body.has_shop.has_jigoshop button.button, body.has_shop.has_jigoshop input.button, body.has_shop.has_jigoshop #review_form #submit { float:none; }
body.has_shop.has_jigoshop .login a.button, body.has_shop.has_jigoshop .login button.button, body.has_shop.has_jigoshop .login input.button, body.has_shop.has_jigoshop .login #review_form #submit { margin:0; }
body.has_shop.has_woocommerce #motopress-main.main-holder div[id*="product-"] > .onsale {
	left:-5px;
	right:auto;
}
body.has_shop.has_woocommerce #motopress-main.main-holder div[id*="product-"] > .onsale:after {
	left:0;
	right:auto;
	border-style:solid;
	border-width:5px 0 0 5px;
}
body.has_shop.has_woocommerce form.checkout_coupon .form-row {
	float:none;
	display:inline-block;
	vertical-align:middle;
}
body.jigoshop .price_slider_amount .button { margin:0 10px 0 0; }
body.jigoshop .navigation { text-align:center; }
body.jigoshop .navigation div[class*="nav-"] {
	display:inline-block;
	padding:0 5px;
}
body.jigoshop .quantity input.qty {
	height:14px;
	text-align:center;
	padding:7px 5px;
}
body.jigoshop .quantity input[type="button"] {
	height:30px;
	text-align:center;
	width:17px !important;
}
body.jigoshop .quantity input.plus, body.jigoshop .quantity input.minus {
	border-radius:0;
	background-color:#f1f1f1;
	background-image:-moz-linear-gradient(top,#f9f9f9,#e5e5e5);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#e5e5e5));
	background-image:-webkit-linear-gradient(top,#f9f9f9,#e5e5e5);
	background-image:-o-linear-gradient(top,#f9f9f9,#e5e5e5);
	background-image:linear-gradient(to bottom,#f9f9f9,#e5e5e5);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffe5e5e5', GradientType=0);
	padding:4px 5px;
	width:24px;
	border:1px solid #e5e5e5;
	font-size:14px;
}
body.jigoshop .quantity input.plus:hover, body.jigoshop .quantity input.minus:hover {
	background-color:#ededed;
	background-image:-moz-linear-gradient(top,#e5e5e5,#f9f9f9);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#e5e5e5),to(#f9f9f9));
	background-image:-webkit-linear-gradient(top,#e5e5e5,#f9f9f9);
	background-image:-o-linear-gradient(top,#e5e5e5,#f9f9f9);
	background-image:linear-gradient(to bottom,#e5e5e5,#f9f9f9);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#fff9f9f9', GradientType=0);
}
body.jigoshop .quantity input.qty {
	border:1px solid #e5e5e5;
	border-left:none;
	border-right:none;
}
body.jigoshop .summary .cart { clear:none; }
body.jigoshop .jigoshop_message {
	line-height:20px;
	height:20px;
}
body.jigoshop .jigoshop_message .button { margin:-10px 0 -5px 0 !important; }
body.jigoshop .nobr.alignright {
	float:none;
	margin:0;
}
body.jigoshop .nobr.alignright .button { margin:2px !important; }
body.jigoshop table.my_account_orders th, body.jigoshop table.my_account_orders td { vertical-align:middle; }
body.jigoshop table.my_account_orders th address, body.jigoshop table.my_account_orders td address { margin:0; }
body.jigoshop .addresses .title h3 {
	float:left !important;
	margin:0 0 20px 0;
}
body.jigoshop .addresses .title .edit { float:right; }
body.jigoshop a.pp_close {
	top:-36px;
	right:5px;
}
body.jigoshop .info {
	border-radius:0;
	padding:10px 10px 10px 45px;
	background:#eee;
	border:1px solid #ddd;
	box-shadow:0 2px 4px rgba(0,0,0,0.05);
	text-shadow:none;
	position:relative;
	line-height:28px;
	font-size:14px;
	margin:0 0 10px 0;
}
body.jigoshop .info a { color:#98ba33; }
body.jigoshop .info a:hover { color:#907968; }
body.jigoshop .info:before {
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-14px;
	color:#98ba33;
	font-family:FontAwesome;
	content:"\f05a";
	font-size:24px;
	padding:0;
	height:auto;
	background:none;
	box-shadow:none;
	font-style:normal;
}
body.jigoshop table.shop_attributes { width:100%; }
body .info {
	background:none;
	box-shadow:none;
	padding:0;
	border:none;
	color:#787878;
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:38px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:9px 19px 10px;
	margin-bottom:0;
	font-size:14px !important;
	line-height:20px !important;
	color:#fff;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background:#907968;
	border:none;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	text-shadow:none;
	box-shadow:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	.btn { padding:9px 10px 10px; }
}
.btn:hover, .btn:focus {
	color:#fff;
	background:#98ba33;
	text-decoration:none;
}
.btn:focus { text-decoration:none; }
.btn.active, .btn:active {
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
	cursor:default;
	background-image:none;
	opacity:0.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.btn-large {
	padding:11px 19px;
	font-size:17.5px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] { margin-top:4px; }
.btn-small {
	padding:2px 10px;
	font-size:11.9px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] { margin-top:0; }
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top:-1px; }
.btn-mini {
	padding:0 6px;
	font-size:10.5px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.btn-block {
	display:block;
	width:100%;
	padding-left:0;
	padding-right:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn-block + .btn-block { margin-top:5px; }
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width:100%; }
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active { color:rgba(255,255,255,0.75); }
.btn-primary { background:#907968; }
.btn-primary:hover { background:#98ba33; }
.btn-warning {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#faa732;
	background-image:-moz-linear-gradient(top,#fbb450,#f89406);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
	background-image:-webkit-linear-gradient(top,#fbb450,#f89406);
	background-image:-o-linear-gradient(top,#fbb450,#f89406);
	background-image:linear-gradient(to bottom,#fbb450,#f89406);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#f89406;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color:#fff;
	background-color:#f89406;
	*background-color:#df8505;
}
.btn-warning:active, .btn-warning.active { background-color:#c67605 \9; }
.btn-danger {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#da4f49;
	background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#bd362f;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	color:#fff;
	background-color:#bd362f;
	*background-color:#a9302a;
}
.btn-danger:active, .btn-danger.active { background-color:#942a25 \9; }
.btn-success {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#5bb75b;
	background-image:-moz-linear-gradient(top,#62c462,#51a351);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image:-webkit-linear-gradient(top,#62c462,#51a351);
	background-image:-o-linear-gradient(top,#62c462,#51a351);
	background-image:linear-gradient(to bottom,#62c462,#51a351);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#51a351;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color:#fff;
	background-color:#51a351;
	*background-color:#499249;
}
.btn-success:active, .btn-success.active { background-color:#408140 \9; }
.btn-info {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#49afcd;
	background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#2f96b4;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	color:#fff;
	background-color:#2f96b4;
	*background-color:#2a85a0;
}
.btn-info:active, .btn-info.active { background-color:#24748c \9; }
.btn-inverse {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#323232;
	background-image:-moz-linear-gradient(top,#444,#181818);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#444),to(#181818));
	background-image:-webkit-linear-gradient(top,#444,#181818);
	background-image:-o-linear-gradient(top,#444,#181818);
	background-image:linear-gradient(to bottom,#444,#181818);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff181818', GradientType=0);
	border-color:#181818 #181818 #000000;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#181818;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	color:#fff;
	background-color:#181818;
	*background-color:#0b0b0b;
}
.btn-inverse:active, .btn-inverse.active { background-color:#000000 \9; }
button.btn, input[type="submit"].btn {
	*padding-top:3px;
	*padding-bottom:3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
	padding:0;
	border:0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
	*padding-top:7px;
	*padding-bottom:7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
	*padding-top:3px;
	*padding-bottom:3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
	*padding-top:1px;
	*padding-bottom:1px;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.btn-link {
	border-color:transparent;
	cursor:pointer;
	color:#98ba33;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.btn-link:hover, .btn-link:focus {
	color:#907968;
	text-decoration:underline;
	background-color:transparent;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus {
	color:#333;
	text-decoration:none;
}
