#main_home_page div:first-child .optiontitle{
	border-top:0 !important;
}

#main_home_page .headin_class{
	border-bottom: rgb(111, 111, 111) solid 2px !important;
}
#optionsframework .group h3{
	cursor:auto !important;
}

#main_home_page .button.active_button {
	color: rgb(0, 0, 0) !important;
	text-shadow: none;
	font-size: 13px !important;
}

#main_home_page .button {
	height: 38px !important;
	display: initial !important;
	background: url(../../images/button.png) center !important;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white !important;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
}

#main_install_page .button {
	height: 38px !important;
	display: initial !important;
	background: url(../../images/button.png) center !important;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white !important;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
}

#main_home_page .block {
	position:relative;
	padding-bottom:0px;
	height:auto;
	float:left;
	width:100%;
	min-height:20px;
}

#main_home_page .optioninput {
	clear:both;
	float:left;
}

#main_home_page .optioninput.checkbox { 
	display:block;
	position:absolute;
	top:18px;
	left:0px;
	width: 23px;
	height:100%;
	text-align:center;
	margin:0px 5px 0px 0px;
}

#main_home_page .optioninput.checkbox_for_posts { 
	display:block;
	top:0px;
	left:0px;
	width:2%;
	height:100%;
	text-align:center;
	margin:0px 5px 0px 0px;
}

#main_home_page .optioninput select, #main_home_page .optioninput input, #main_home_page .optioninput, #main_home_page .optioninput textarea{	
	font-family:Segoe UI;
	color: rgb(111, 111, 111); 
}

#main_home_page .optioninput textarea{ margin-bottom:10px;resize:none;}

#main_home_page .optioninput input, 
#main_home_page .optioninput select, 
#main_home_page .optioninput textarea{
	clear:both;	
	background:#e9e9e9;
}

#main_home_page .optiontitle { border-bottom:2px solid rgb(224, 224, 224);}

#main_home_page .optiontitle {		
	clear:both;
	font-size:18px;
	font-family:Segoe UI;
	color:rgb(111, 111, 111); 
	margin: 10px 0px 0px 0px;
	padding: 10px 0px 5px 0px;
}

#main_home_page .optiontitle.first {border-top: 0px;}		

#main_home_page .optiontitle h3{
	margin:0px;
	font-weight: bold;
	text-transform:uppercase;
	padding: 8px 0px !important;
	font-size:17px;
}

#main_home_page h3{
	width:100%;
	cursor:default !important;
	background:none !important;
	border:none !important;
	color: rgb(111, 111, 111) !important;
}
#main_home_page .open_hide{
	float:left;
	min-width: 90%;
}

#main_home_page .optiondescreption {
	position:relative;
  	width:97%;
	float:left;
	font-family:Segoe UI;
	color: rgb(111, 111, 111);
	font-size:16px;
	font-style:italic;
}

#main_home_page .optiondescreption p { font-size: 15px !important;}

#main_home_page .block.margin .optiondescreption {
	margin-left:25px;
}
