#main_typagrphy_page .button.active_button {
	color: rgb(0, 0, 0) !important;
	text-shadow: none;
	font-size: 13px !important;
}
#main_typagrphy_page .type_inputs {
	padding: 10px 5px;
	display: none;
}
#main_typagrphy_page .type_select {
	float: left;
	width: 29%;
	margin: 0 2%;
	padding-bottom: 10px;
	padding-top: 6px;
	font-size:14px;
}
#main_typagrphy_page .type_select select{
	height:25px !important;
	vertical-align:middle;
}

#main_typagrphy_page .typagrphy_label{
	width: 98px !important;
	display: inline-block;
}

#main_typagrphy_page .font_preview { width: 100%; }

#main_typagrphy_page #type_headers_set_styling { display: none; }

#main_typagrphy_page #type_headers_set_advanced { display: none;}

#main_typagrphy_page .optin.fix {
	margin-bottom: 20px;
	font-size: 12px;
}

#main_typagrphy_page .optiontitle {
	clear:both;
	font-family:Segoe UI;
	color: rgb(111, 111, 111); 
	font-size:21px;
	border: none;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
	border-top: rgb(206, 206, 206) solid 1.5px;
    font-weight: bold;
	line-height: 23px;
}

#main_typagrphy_page .optiontitle.first {border-top: 0px;}

#main_typagrphy_page h3{
	width:100%;
	font-weight: 200;
	margin: 0px;
	cursor:default !important;
	background:none !important;
	border:none !important;
	color: rgb(111, 111, 111) !important;
}

#main_typagrphy_page .optioninput { font-size: 10px;}

#main_typagrphy_page .optioninput select, #main_typagrphy_page .optioninput input, #main_typagrphy_page .optioninput, #main_typagrphy_page .optioninput textarea{	
	font-family:Segoe UI;
	color: rgb(111, 111, 111); 
}

#main_typagrphy_page .optioninputtextarea {font-size: 10px;}

#main_typagrphy_page .button {
	height: 38px !important;
	display: initial !important;
	background: url(../../images/button.png) center !important;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white !important;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
	background-color: none;
}

#main_typagrphy_page .picker_panel {
	font-family: DeVinne Txt BT !important;
}

#main_typagrphy_page .font_preview_wrap, select {
	font-family: Segoe UI;
	color: rgb(111, 111, 111);
	clear:both;
}
#main_typagrphy_page .button.active_button {
	color: rgb(111, 111, 111) !important;
	text-shadow: none;
	font-size: 13px !important;
}

#main_typagrphy_page .button {
	height: 38px !important;
	display: initial !important;
	background: url(../../images/button.png) center !important;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white !important;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
}

#main_typagrphy_page .block {
	position:relative;
	padding-bottom:0px;
	height:auto;
	float:left;
	margin-bottom:10px;
	width:100%;
	min-height:20px;
}

#main_typagrphy_page .optioninput { clear:both;}

#main_typagrphy_page .optioninput.checkbox { 
	display:block;
	position:absolute;
	top:18px;
	left:0px;
	width: 23px;
	height:100%;
	text-align:center;
	margin:0px 5px 0px 0px;
}

#main_typagrphy_page .optioninput select, 
#main_typagrphy_page .optioninput input, 
#main_typagrphy_page .optioninput, .optioninput textarea{	
	font-family:Segoe UI;
    font-size:12px;
	color: rgb(111, 111, 111); 
}

#main_typagrphy_page .optioninput textarea{ margin-bottom:10px;resize:none;}

#main_typagrphy_page .optioninput input, 
#main_typagrphy_page .optioninput select, 
#main_typagrphy_page .optioninput textarea{
	clear:both;	
	background:#e9e9e9;
}

#main_typagrphy_page .optiontitle { border-bottom:2px solid rgb(224, 224, 224);}

#main_typagrphy_page .optiontitle h3{
	margin:0px;
	font-weight: bold;
	text-transform:uppercase;
	padding: 8px 0px !important;
	font-size:17px;
}

#main_typagrphy_page .optiondescreption {
	position:relative;
  	width:97%;
	float:left;
	font-family:Segoe UI;
	color: rgb(111, 111, 111);
	font-size:16px;
	font-style:italic;
}
#main_typagrphy_page .optiondescreption p { font-size: 15px !important;}

#main_typagrphy_page .block.margin .optiondescreption {
	margin-left:25px;
}
