//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px;
  margin: 0;
  list-style: none;
  background-color: none;
  border-top: 1px solid @customBorderColor;
  border-bottom: 1px solid @customBorderColor;
  .border-radius(@baseBorderRadius);
  > li {
    display: inline-block;
    .ie7-inline-block();
    text-shadow: 0 1px 0 @white;
    > .divider {
      padding: 0 5px;
      color: #ccc;
    }
  }
  > .active {
    color: @linkColorHover;
  }
}
