.wd_bwg_slideshow_image_wrap {
	position:relative;
	display: block;
	margin:0px;
	text-align: left;
	/*HEIGHT FROM HEADER.wd_PHP*/
	clear:both;
	width:100% !important;
	overflow:hidden !important;
}

.wd_bwg_slideshow_description_text *{text-align: left;}

.wd_bwg_slideshow_image_wrap * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wd_bwg_slideshow_image_wrap > div { width: 100% !important;}

/*
.wd_phone .wd_bwg_slideshow_image_container{
height:165px !important;
}

.wd_phone .wd_bwg_slideshow_image_wrap img{
width:100% !important;
height: 165px !important;
}

.wd_phone .wd_bwg_slideshow_image_wrap{
height: 165px !important;
}
*/


.wd_bwg_slideshow_image { width: 100% !important;}

.wd_bwg_slideshow_prev_btn, .wd_bwg_slideshow_next_btn {}

#wd_bwg_slideshow_play_pause {        
	bottom: 0;
	cursor: pointer;
	display: table;
	height: inherit;
	outline: medium none;
	position: absolute;
	width: 30%;
	left: 35%;
	z-index: 13;
}

#wd_bwg_slideshow_play_pause:hover #wd_bwg_slideshow_play_pause-ico { display: inline-block !important;}

#wd_bwg_slideshow_play_pause:hover span {
	position: relative;
	z-index: 13;
}
#wd_bwg_slideshow_play_pause span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#wd_bwg_slideshow_play_pause-ico {  
	display: none !important;
	cursor: pointer;
	position: relative;
	z-index: 13;
}
#wd_bwg_slideshow_play_pause-ico:hover {  
	display: inline-block;
	position: relative;
	z-index: 13;
}

#wd_spider_slideshow_left,#wd_spider_slideshow_right {	
	cursor: pointer;	
	display: inline;	
	height: 100%;	
	outline: medium none;	
	position: absolute;	
	width: 80px;	
	z-index: 13;	
	bottom:45%;  
}

#wd_spider_slideshow_left {	  	
	left:30px;	
	margin-top:-10px;	
	background:url(Arrow-left.png) right bottom no-repeat; 
}  

#wd_spider_slideshow_right {	
	right:30px;	
	margin-top:-10px;	
	background:url(Arrow-right.png) left bottom no-repeat; 
} 


#wd_spider_slideshow_left:hover,
#wd_spider_slideshow_right:hover {
	visibility: visible;
	/*display: inline-block !important;*/
}

#wd_spider_slideshow_left:hover span { left: 20px; }

#wd_spider_slideshow_right:hover span {
	left: auto;
	right: 20px;
}

#wd_spider_slideshow_left-ico span,
#wd_spider_slideshow_right-ico span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	z-index: 13;
}
#wd_spider_slideshow_left-ico,
#wd_spider_slideshow_right-ico {
	z-index: 13;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	display: table;
	left: -9999px;
	line-height: 0;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	/*z-index: 10135;*/
}

#wd_spider_slideshow_left-ico:hover, #wd_spider_slideshow_right-ico:hover { cursor: pointer;}

.wd_bwg_slideshow_image_container {
	display: table;
	position: relative;
	top:0px;
	left:0px;
	text-align: center;
	vertical-align: middle;
	width:100%;
	z-index: 9;
}

.wd_bwg_none_selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wd_bwg_slideshow_title_container {
	display: table-cell;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
}

.wd_bwg_slideshow_title_container > div {
	display:block;
	width:100%;
}

.wd_bwg_slideshow_title_span {
	display: table-cell;
	overflow: hidden;
	position: relative;
	/*text-align FROM HEADER.wd_PHP*/
	/*vertical-align FROM HEADER.wd_PHP*/
}
.wd_bwg_slideshow_description_span {
	display: table-cell !important;
	overflow: hidden;
	position: relative;
	/*text-align FROM HEADER.wd_PHP*/
	/*vertical-align FROM HEADER.wd_PHP*/
}

.wd_bwg_slideshow_title_text {
	text-decoration: none;
	position: relative;
	z-index: 11;
	display: inline-block;
	max-width: 33%;
	word-break: break-all;   
	margin:10px;
	font-weight:bold;
	background:rgba(100,100,100,0.wd_5);
}

.wd_bwg_slideshow_description_text {
	text-decoration: none;
	position: relative;
	z-index: 11;
	margin: 5px;
	display: inline-block;
	max-width: 33%;
	word-break: break-all;   
	margin:10px;
	background:rgba(100,100,100,0.wd_5);
	font-weight: 600;
	text-align:right;
}

.wd_bwg_slideshow_description_text p { margin-bottom:0; }

.wd_bwg_slideshow_description_text h4 { font-weight: normal;}

.wd_bwg_slideshow_title_text.wd_none, .wd_bwg_slideshow_description_text.wd_none {display:none;}

.wd_bwg_slide_container {
	display: table-cell;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
	width: inherit;
	height: inherit;
}
.wd_bwg_slide_bg {
	margin: 0 auto;
	width: inherit;
	height: inherit;
	overflow:hidden !important;
}
.wd_bwg_slider {
	height: inherit;
	width: inherit;
}
.wd_bwg_slideshow_image_span {
	width: inherit;
	height: inherit;
	display: table-cell;
	filter: Alpha(opacity=100);
	opacity: 1;
	position: absolute;
	vertical-align: middle;
	z-index: 2;
	overflow:hidden !important;
}
.wd_bwg_slideshow_image_second_span {
	width: inherit;
	height: inherit;
	display: table-cell;
	filter: Alpha(opacity=0);
	opacity: 0;
	position: absolute;
	vertical-align: middle;
	z-index: 1;
	overflow:hidden !important;
}
.wd_bwg_grid {
	display: none;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.wd_bwg_gridlet {
	opacity: 1;
	filter: Alpha(opacity=100);
	position: absolute;
}

.wd_bwg_slideshow_dots {
	display: inline-block;
	position: relative;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.wd_1) inset, 1px 1px 1px rgba(255,255,255,0.wd_1);
	width:10px;
	height: 10px;
	border-radius: 10px;
	background: #wd_00f;
	margin: 10px;
	overflow: hidden;
	z-index: 17;
}

.wd_bwg_slideshow_dots_container {
	display: table;
	position: absolute;
	/*width FROM HEADER.wd_PHP*/
}
.wd_bwg_slideshow_dots_thumbnails {
	left: 0px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.wd_bwg_slideshow_dots_active {
	opacity: 1;
	background:#wd_0f0;
	filter: Alpha(opacity=100);
}
.wd_bwg_slideshow_dots_deactive {}

.wd_bwg_slideshow_image_span1 {
	display: table; 
	width: inherit; 
	height: inherit;
}
.wd_bwg_slideshow_image_span2 {
	display: table-cell; 
	text-align: center;
}