<tr class="slide-from-base"><td width="30%" valign="middle"><h3>Image</h3></td><td><input size="36" value="{LINK}" class="upload" id="ct_image_link_{ID}" name="ct_image_link_{ID}" /><input type="submit" class="update-button" value="Update image"><input class="remove-image" value="Remove image" type="submit" /></td></tr>
<tr rel="{ID}"><td width="30%" valign="middle"><h3></h3></td><td><img  src="{LINK}" /></td></tr>
<tr><td width="30%" valign="middle"><h3>The URL of image when clicked</h3></td><td><input  type="text" name="ct_image_href_{ID}" value="{HREF}" /></td></tr>
<tr><td width="30%"  valign="middle"><h3>Image Title</h3></td><td><textarea name="ct_image_title_{ID}">{TITLE}</textarea></td></tr>
<tr><td width="30%"  valign="middle"><h3>Text on images</h3></td><td><textarea name="ct_image_textarea_{ID}">{DESCRIPTION}</textarea></td></tr>