.fnone{float:none !important;}
.m0{margin:0 !important;}
.wrap{margin:0;padding:0;}
.updated{max-width:764px;margin-bottom:0px !important;}
#optionsframework > form{margin:0;}
#optionsframework h3{cursor:default;}
#optionsframework .submit{margin:0; padding: 5px 0; text-align: right;}
#optionsframework .section{padding:10px 10px 0;}
#optionsframework .group{padding-bottom:20px;display:none;}
#optionsframework .section .heading{padding:10px 0px;margin:0 0 15px;border-bottom:1px solid #dfdfdf;}
#optionsframework .section .controls{float:left;min-width:350px;width:70%;margin-right:2%;}
#optionsframework .section .explain{font-size:12px;vertical-align: top;color:#929292;overflow:hidden; line-height: 16px;}
#optionsframework .section-checkbox .controls{width:98%;}
#optionsframework .section-checkbox .explain{max-width:94%;}
#optionsframework .section-color .controls{min-width:125px;width:125px}
#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea{margin-bottom:10px;width:100%;outline:none;}
#optionsframework .section-multicheck .controls, #optionsframework .data_management .controls{max-height:150px;overflow-y:scroll;background:#fff;border:1px solid #DDD;padding-top:8px;padding-bottom:0 !important;}
#optionsframework .section-radio label, #optionsframework .section-multicheck .controls label , #optionsframework .data_management label, .checkbox_label{float:left;max-width:90%;line-height:16px;margin-bottom:5px;}
#optionsframework input.checkbox, #optionsframework input.of-radio{width:30px;margin-top:2px;float:left;clear:both;}
#optionsframework .controls .of-color{float:left;width:60px;margin-left:5px;margin-right:5px;}
#optionsframework .controls .field{overflow:hidden;float:left;margin-right:3px;padding:0 2px;}
#optionsframework .controls .field label{display:inline-block;color:#929292;font-size:11px;margin-bottom:5px;font-style:normal;}
#optionsframework .controls .field label[for="of-typography-color"]{display:block;margin-left:33px;}
#optionsframework .controls .of-typography-character, #optionsframework .controls .of-typography-lineheight, #optionsframework .controls .of-typography-face, #optionsframework .controls .of-typography-size, #optionsframework .controls .of-typography-style, #optionsframework .controls .of-typography-unit{display:block;width:100%;max-width:105px;margin:0 0 10px 0;}
#optionsframework .controls .of-typography-face{max-width:55px;}
#optionsframework .controls .of-typography-style{max-width:79px;}
#optionsframework .controls .of-typography-character{max-width:94px;}
#optionsframework .of-background-properties{clear:both;margin-top:18px;}
#optionsframework .controls .of-background-repeat{width:125px;margin-right:5px;float:left}
#optionsframework .controls .of-background-position{width:125px;margin-right:5px;float:left}
#optionsframework .controls .of-background-attachment{width:125px;margin-right:5px;float:left}
#optionsframework div.section-background .controls input.upload{width:47%;}
#optionsframework .controls .img_wrapper{float:left;}
#optionsframework .controls .img_title{clear:both;text-align:center;margin-right:5px;}
#optionsframework .controls .of-radio-img-img{border:3px solid #f9f9f9;margin:0 5px 10px 0;display:none;cursor:pointer;float:left;}
#optionsframework .controls .of-radio-img-selected{border:3px solid #ccc}
#optionsframework .controls .of-radio-img-img:hover{opacity:.8;}
#optionsframework .controls .of-border-width{width:80px;float:left}
#optionsframework .controls .of-border-style{width:120px;float:left}
#optionsframework .hide{display:none;}
#optionsframework .of-option-image{max-width:340px;margin:3px 0 18px 0;}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls{width:140px;}
#optionsframework .mini .controls input, #optionsframework .mini .controls{min-width:140px;width:140px;}
#optionsframework .mini .explain{max-width:74%;}
#optionsframework .section-editor .explain{max-width:98%;float:none;margin-bottom:5px;}
#optionsframework .controls input.upload{width:80%;}
#optionsframework .controls input.upload_button{float:right;width:45px;border-color:#BBBBBB;cursor:pointer;height:16px;}
#optionsframework .controls input.upload_button:hover{border-color:#666666;color:#000;}
#optionsframework .screenshot{float:left;margin-left:1px;position:relative;width:344px;margin-top:3px;}
#optionsframework .screenshot img{background:#FAFAFA;border-color:#ccc #eee #eee #ccc;border-style:solid;border-width:1px;float:left;max-width:334px;padding:4px;margin-bottom:10px;}
#optionsframework .screenshot .mlu_remove{background:url("../images/ico-delete.png") no-repeat;border:medium none;bottom:4px;display:block;float:left;height:16px;padding:0;position:absolute;left:-4px;text-indent:-9999px;width:16px;}
#optionsframework .screenshot .no_image .file_link{margin-left:20px;}
#optionsframework .screenshot .no_image .mlu_remove{bottom:0px;}
#optionsframework .reset-button{float:left;cursor:pointer;}
#optionsframework-submit{padding:7px 10px;border-top:1px solid #ECECEC;background-color:#F1F1F1;background-image:-moz-linear-gradient(center top , #F9F9F9, #ECECEC);}
#optionsframework .button-primary, .fright{float:right;}
#optionsframework .section:before, #optionsframework .section:after{content:"";display:table;}
#optionsframework .section:after{clear:both;}
#icon-settings, #icon-import-export{background-attachment:scroll;background-clip:border-box;background-color:transparent;background-origin:padding-box;background-repeat:no-repeat;background-size:auto auto;}
#icon-settings{background-image:url("../images/options-settings32.png?");}
#icon-import-export{background-image:url("../images/import-export32.png?");}
.extern-links{margin:0;padding:0;max-width:764px;text-align:right;overflow:hidden;}
.extern-links a{margin:0 0 0 20px;float:right;display:block;font:14px Arial, Helvetica, sans-serif;text-decoration:none;}
span.icon span{padding:0px 0px 0px 40px;display:block;height:34px;line-height:32px;}
a.icon-a:hover{text-decoration:none;}
a.icon-support span.icon span{background:url(../images/support.png) no-repeat 15px 8px;}
a.icon-documentation span.icon span{background:url(../images/documentation.png) no-repeat 15px 8px;}
a.icon-customize span.icon span{background:url(../images/options-settings16.png) no-repeat 15px 8px;}
.clear{display:block;clear:both;}
.import, .export, .store, .data_management, .success-wrap{padding:20px;overflow:hidden;}
.import label{display:block;padding:0 0 5px 0;}
.widget-data .wrap h2{padding-bottom:20px;}
.widget-data .sidebars{border-color:#DFDFDF;border-style:solid;border-width:1px;}
.widget-data .title h3{font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;font-size:15px;font-weight:normal;margin:0;overflow:hidden;padding:8px 10px;white-space:nowrap;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-bottom:none;}
.widget-data .title{border-style:solid;border-width:1px;font-size:13px;border-color:#DFDFDF;color:#464646;background-color:#F1F1F1;border-bottom:none;position:relative;}
#notifier{display:block;width:100%;margin:0 auto;height:40px;border:1px solid #ccc;text-align:center;margin-bottom:10px}
#notifier p{color:#fff;font:bold 16px 'Arial';margin:10px 0;}
#notifier.success{background:#0ee61c;}
#notifier.error{background:#e00909;}
#upload-button{display:none;margin:4px 0 0 10px;}
#output-text{background:#fff;display:block;width:250px;height:16px;border:1px solid #eee;padding:5px;}
#button-upload{margin-top:20px;}
.indent-bot{margin-bottom:19px;}
.indent-top{padding-top:20px;}
.widget-data .left{float:left;margin-bottom:20px;}
.widget-data .right{margin-top:20px;}
.widget-data .sidebars .sidebar label{font-size:12px;display:inline-block !important;}
.widget-data .sidebars .sidebar h4{margin:0;padding:8px 20px;background:#eee;}
.widget-data .button-bottom{}
.widget-data .export-selection-error{float:right;}
#optionsframework .widget-data .title p{margin:0;padding:0;font-size:11px;color:red;display:none;position:absolute;top:10px;right:10px;z-index:9;}
div.sidebar div.widgets .import-form-row{padding-left:30px;padding-top:2px;padding-bottom:2px;}
div.sidebar div.widgets .import-form-row:nth-child(odd){background-color:#fff;}
div.sidebar div.widgets .import-form-row:nth-child(even){background-color:#F9F9F9;}
#import-attachments{float:left;margin:2px 8px 0 0;display:none;}
#optionsframework .success-title {
	display: block;
	position: relative;
	overflow: hidden;
	margin: -1px;
	text-align: center;
	background: #85b9de;
	color: #fff;
	font: normal 18px/30px Arial,sans-serif;
	text-shadow: none;
	filter: none;
	border-radius: 3px 3px 0 0;
}
#optionsframework .success-title:before {
	display: inline-block;
	content: '';
	width: 33px;
	height: 30px;
	margin-right: 6px;
	vertical-align: top;
	background: url(../images/congratul-icon.png) 0 0 no-repeat;
}
#optionsframework .success-wrap {text-align: center;}
#optionsframework .success-wrap .button-primary {float: none;}
#optionsframework .reset-button {float: none;}
.reg-up{text-transform:uppercase;}
.wrap .submit{padding:0;margin:0;}
@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0;}
to{background-position:0 0;}
}
@-moz-keyframes progress-bar-stripes{from{background-position:40px 0;}
to{background-position:0 0;}
}
@-ms-keyframes progress-bar-stripes{from{background-position:40px 0;}
to{background-position:0 0;}
}
@-o-keyframes progress-bar-stripes{from{background-position:0 0;}
to{background-position:40px 0;}
}
@keyframes progress-bar-stripes{from{background-position:40px 0;}
to{background-position:0 0;}
}
.progress-holder{position:relative;overflow:hidden;margin:40px 0 0;padding:21px 0;}
.progress{height:12px;padding:3px;margin:0 20px;border:1px solid #e5e5e5;background:#f8fafb;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.progress .bar{position:relative;z-index:2;width:0%;height:100%;color:#ffffff;float:left;font-size:12px;text-align:center;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#87bce2;background-image:-moz-linear-gradient(top, #8ec2e7, #7db4db);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#8ec2e7), to(#7db4db));background-image:-webkit-linear-gradient(top, #8ec2e7, #7db4db);background-image:-o-linear-gradient(top, #8ec2e7, #7db4db);background-image:linear-gradient(to bottom, #8ec2e7, #7db4db);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ec2e7', endColorstr='#ff7db4db', GradientType=0);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.progress-striped .bar{background-color:#87bce2;background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);-webkit-background-size:20px 20px;-moz-background-size:20px 20px;-o-background-size:20px 20px;background-size:20px 20px;}
.progress.active .bar{-webkit-animation:progress-bar-stripes 2s linear infinite;-moz-animation:progress-bar-stripes 2s linear infinite;-ms-animation:progress-bar-stripes 2s linear infinite;-o-animation:progress-bar-stripes 2s linear infinite;animation:progress-bar-stripes 2s linear infinite;}
.circle{position:absolute;top:0;left:0;display:block;width:58px;height:58px;font-size:30px;line-height:58px;}
.circle:before{position:absolute;z-index:1;top:0;left:0;display:block;content:'';width:58px;height:58px;font-size:30px;line-height:58px;border:1px solid #e0e0e0;background:#f8fafb;text-align:center;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
.circle:after{position:absolute;top:50%;left:0px;z-index:3;display:block;content:'';width:60px;height:20px;background:#f8fafb;margin-top:-8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.start{left:0%;}
.step1{left:25%;margin-left:-20px}
.step2{left:50%;margin-left:-30px;}
.step3{left:75%;margin-left:-40px;}
.finish{left:100%;margin-left:-60px;}
.circle.start:after{left:2px;width:58px;}
.circle.finish:after{width:58px;}
.circle span{position:relative;z-index:99;overflow:hidden;display:block;width:36px;height:36px;margin:12px auto 0;font-size:30px;line-height:35px;color:#576570;text-align:center;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
.circle span:after{position:absolute;top:0;left:0;display:block;content:'';width:100%;height:100%;}
.finish span{font-size:13px;font-weight:bold;overflow:visible;margin:12px 0;text-align:center;width:60px;}
.circle.success:after{z-index:1;}
.circle.success span{font:0/0 a;text-shadow:none;color:transparent;background-color:#8bbfe5;background-image:-moz-linear-gradient(top, #9bcdf1, #73abd3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#9bcdf1), to(#73abd3));background-image:-webkit-linear-gradient(top, #9bcdf1, #73abd3);background-image:-o-linear-gradient(top, #9bcdf1, #73abd3);background-image:linear-gradient(to bottom, #9bcdf1, #73abd3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9bcdf1', endColorstr='#ff73abd3', GradientType=0);}
.circle.success span:after{background:url(../images/success.png) 50% 50% no-repeat;}
.circle.in-progress:after{z-index:1;}
.circle.in-progress span{font:0/0 a;text-shadow:none;color:transparent;background-color:#8bbfe5;background-image:-moz-linear-gradient(top, #9bcdf1, #73abd3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#9bcdf1), to(#73abd3));background-image:-webkit-linear-gradient(top, #9bcdf1, #73abd3);background-image:-o-linear-gradient(top, #9bcdf1, #73abd3);background-image:linear-gradient(to bottom, #9bcdf1, #73abd3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9bcdf1', endColorstr='#ff73abd3', GradientType=0);}
.circle.in-progress span:after{background:url(../images/in-progress.png) 50% 50% no-repeat;}
h2 .nav-tab{font-size:18px;}
#upload-widget-data{}
#skip-import-data, #skip-import-widget{margin:0;}
/*#skip-import-widget{margin-top:84px;}*/
#import-upload-form{}
#import-upload-form input[type="submit"]{margin-top:15px;}
#optionsframework-wrap .nav-tab-wrapper{border-bottom:3px solid #85b9de;}
#optionsframework-wrap .nav-tab{font-size:16px;color:#576570;font-weight:bold;border:1px solid #e5e5e5;border-bottom:none;background:#f7f7f7;margin:0 2px 0 0;padding:7px 17px 7px 17px;outline:none;}
#optionsframework-wrap .nav-tab:hover{background:#efefef;border-color:#ddd;}
#optionsframework-wrap .nav-tab-active,
#optionsframework-wrap .nav-tab-active:hover{background:#85b9de;color:#fff;border-color:#85b9de;text-shadow:none;outline:none;}
#optionsframework{background:#fefefe;border:1px solid #e5e5e5;max-width:786px;position: relative;z-index: 0;}
#optionsframework-wrap #optionsframework-metabox{padding-top:13px;}
#optionsframework h3{border-bottom-color:#e5e5e5;background:#fafafa;background:#fafafa -moz-linear-gradient(top, #fafafa, #f4f4f4 100%);background:#fafafa -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f4f4f4));background:#fafafa -webkit-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);background:#fafafa -o-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);background:#fafafa -ms-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);background:#fafafa linear-gradient(top, #fafafa 0%,#f4f4f4 100%);font-size:18px;line-height:1em;color:#576570;padding:12px 17px;margin:0;font-family:Arial, Helvetica, sans-serif;font-weight:normal;}
#optionsframework h4.head{font-size:20px;line-height:30px;font-weight:normal;color:#585858;margin:0 0 15px;}
#optionsframework h4.head span{font-size:27px;line-height:30px;color:#4293cc;text-transform:uppercase;}
#optionsframework h4.head span i{display:inline-block;width:40px;height:40px;margin-right:10px;text-align:center;font-size:30px;line-height:40px;font-style:normal;color:#fff;background:#4293cc;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
#optionsframework .text-style,
#optionsframework form p,
.import-data{font-size:12px;line-height:18px;color:#a3a3a3;padding:0;margin:0 0 18px;}
#optionsframework .text-style b{color:#585858;}
#optionsframework .section{padding:10px 18px 0 18px;}
#optionsframework .section .heading{color:#576570;}
#optionsframework-submit{padding:10px 18px;background:#fafafa;background:#fafafa -moz-linear-gradient(top, #fafafa, #f4f4f4 100%);background:#fafafa -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f4f4f4));background:#fafafa -webkit-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);background:#fafafa -o-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);background:#fafafa -ms-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);background:#fafafa linear-gradient(top, #fafafa 0%,#f4f4f4 100%);border-top:1px solid #e5e5e5;}
#optionsframework .controls label{color:#a3a3a3;}
textarea,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
select{background-color:#FFFFFF;border-color:#DFDFDF;color:#333333;}
#optionsframework-wrap textarea,
#optionsframework-wrap input,
#optionsframework-wrap select{padding:4px;}
#optionsframework-wrap select{height:26px;padding:4px;}
input[type="file"]{margin:0;}
#optionsframework .controls input.upload_button,
#optionsframework .reset-button{
	display:inline-block;
	height:21px;
	margin:0;
	padding:5px 12px;
	text-decoration:none;
	text-transform:uppercase;
	font:bold 11px/20px Arial, sans-serif;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#9b9b9b;
	border:1px solid #dcdcdc;
	text-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:#f6f6f6;
	background-image:-moz-linear-gradient(top,#fcfcfc,#eee);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),to(#eee));
	background-image:-webkit-linear-gradient(top,#fcfcfc,#eee);
	background-image:-o-linear-gradient(top,#fcfcfc,#eee);
	background-image:linear-gradient(to bottom,#fcfcfc,#eee);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfc', endColorstr='#ffeeeeee', GradientType=0);
}
#optionsframework .controls input.upload_button{padding-top:2px;padding-bottom:2px;}
#optionsframework .controls input.upload_button:hover,
#optionsframework .reset-button:hover{
	text-decoration:none;
	color:#9b9b9b;
	border:1px solid #d3d3d3;
	background-color:#e6e6e6;
	background-image:-moz-linear-gradient(top,#eee,#dadada);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#eee),to(#dadada));
	background-image:-webkit-linear-gradient(top,#eee,#dadada);
	background-image:-o-linear-gradient(top,#eee,#dadada);
	background-image:linear-gradient(to bottom,#eee,#dadada);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdadada', GradientType=0);
}
#optionsframework .button-primary,
#optionsframework .submit input.button{
	display:inline-block;
	height:21px;
	margin:0;
	padding:5px 12px;
	text-decoration:none;
	text-transform:uppercase;
	font:bold 11px/20px Arial, sans-serif;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	border:1px solid #a4cce8;
	text-shadow: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:#8bbfe5;
	background-image:-moz-linear-gradient(top,#9bcdf1,#72abd3);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#9bcdf1),to(#72abd3));
	background-image:-webkit-linear-gradient(top,#9bcdf1,#72abd3);
	background-image:-o-linear-gradient(top,#9bcdf1,#72abd3);
	background-image:linear-gradient(to bottom,#9bcdf1,#72abd3);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9bcdf1', endColorstr='#ff72abd3', GradientType=0);
}
#optionsframework .button-primary:hover,
#optionsframework input.button:hover{
	text-decoration:none;
	color:#fff;
	border:1px solid #67a1c9;
	background-color:#5ca1d3;
	background-image:-moz-linear-gradient(top,#70add9,#3f90c9);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#70add9),to(#3f90c9));
	background-image:-webkit-linear-gradient(top,#70add9,#3f90c9);
	background-image:-o-linear-gradient(top,#70add9,#3f90c9);
	background-image:linear-gradient(to bottom,#70add9,#3f90c9);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70add9', endColorstr='#ff3f90c9', GradientType=0);
}
#optionsframework .button-primary:disabled,
#optionsframework input[type="submit"]:disabled{text-shadow: none !important; border:1px solid #a4cce8 !important; cursor:default !important;background:#9bcdf1 !important;background:#9bcdf1 -moz-linear-gradient(top, #9bcdf1, #72abd3 100%) !important;background:#9bcdf1 -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bcdf1), color-stop(100%,#72abd3)) !important;background:#9bcdf1 -webkit-linear-gradient(top, #9bcdf1 0%,#72abd3 100%) !important;background:#9bcdf1 -o-linear-gradient(top, #9bcdf1 0%,#72abd3 100%) !important;background:#9bcdf1 -ms-linear-gradient(top, #9bcdf1 0%,#72abd3 100%) !important;background:#9bcdf1 linear-gradient(top, #9bcdf1 0%,#72abd3 100%) !important;color:#fff !important;opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);}
#optionsForm .button-primary,
#import-upload-form .button-primary{float:none;}
#optionsframework .btn-link {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: none;
	border-bottom: 1px solid #78b0d7;
	color: #78b0d7;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	font: bold 11px/14px Arial,sans-serif;
	cursor: pointer;
}
#optionsframework .btn-link:hover {
	color: #72abd3;
	border-bottom-color: transparent;
}
#optionsframework .section .explain em{color:#b4b4b4;}
#optionsframework label[for=upload]{display:none;}
#optionsframework #authors{margin:0 0 20px;padding:0;list-style-type:none;color:#A3A3A3;font-size:12px;line-height:18px;}
#optionsframework #authors li{margin:0;padding:0;list-style-type:none;line-height:20px; width: 60%;}
#optionsframework #authors li > div {float: right;}
#optionsframework #authors input[type="text"],
#optionsframework #authors select{width:180px;margin:0;}
#user-wrap{display:block;}
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
h4.title{color:#888; line-height: 18px;}
.note{padding:20px;margin:20px 0;min-height:40px;background:#f4f4f4;color:#858585;font-style:italic;line-height: 18px;}
.note > p {margin: 0 0 15px;}
.store h4, .data_management h4{font-size:18px;font-weight:normal;line-height:1.23;margin:10px 0;padding-bottom:5px;color:#576570;border-bottom:1px solid #e8e8e8;}
#optionsframework.store-holder{max-width:900px;}
#jsbanner{box-shadow:none;border-radius:0;border:none;background:none;padding:0;}
#jsbanner .overflow, .jcarousel-clip{top:0;width:100%;margin-bottom:15px !important;}
#jsbanner li{display:block;margin:5px;border-bottom:1px solid #DEDEDE;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0px 3px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0px 3px 0px rgba(0, 0, 0, 0.2);box-shadow:0 0px 3px 0px rgba(0, 0, 0, 0.2);-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;background:#FFF;position:relative;}
#jsbanner li:hover{-webkit-box-shadow:0 0px 7px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0px 7px 0px rgba(0, 0, 0, 0.3);box-shadow:0 0px 7px 0px rgba(0, 0, 0, 0.3);}
#jsbanner .t_info{background:#fff;color:#838385;opacity:1;}
#jsbanner .prev,
#jsbanner .next,
.jcarousel-prev,
.jcarousel-next{display:block;width:38px;height:38px;top:50%;margin-top:-30px;}
#jsbanner .prev,
.jcarousel-prev{left:-16px;background:url(../images/control-arrow.png) no-repeat 0 0;}
#jsbanner .prev:hover,
.jcarousel-prev:hover{background-position:0 bottom;}
#jsbanner .next,
.jcarousel-next{right:-16px;background:url(../images/control-arrow.png) no-repeat right 0;}
#jsbanner .next:hover,
.jcarousel-next:hover{background-position:right bottom;}
#preview{display:none;}
.info-holder{padding-top:40px;margin-bottom:20px;}
.info-holder h4{}
.col{float:left;}
.col-1{width:65%;margin-right:10%;}
.col-2{width:25%;}
.extern-list{margin:0;padding:0;border:none;background:none;}
.extern-list li{list-style-type:none;font-size:12px;line-height:16px;margin:0;padding:5px 0;border:none;background:none;}
.extern-list li a{color:#4293cb;text-decoration:none;}
.extern-list li a:hover{color:#D54E21;}
.extern-list li .icon span{display:inline-block;height:16px;line-height:16px;background-position:0 0 !important;padding-left:22px;}
.rss-list{margin:0;padding:0;border:none;background:none;}
.rss-list li{list-style-type:none;font-size:14px;line-height:1.23;margin:0 0 15px;padding:0;border:none;background:none;}
.rss-list li a{color:#4293cb;text-decoration:none;}
.rss-list li a:hover{color:#D54E21;}
.rss-list li .time{display:block;font-size:10px;line-height:1.23;color:#aaa;}
.align-right{text-align:right;overflow:hidden;}
.align-right .button-primary{margin-right:45px;}
#optionsframework>.wrap>.data_management>.theme_box>.buttons_controls{margin-left:-12px;}
.button_wrapper{display:inline-block;position:relative;margin-left:12px;}
#optionsframework .wrap .data_management .button_wrapper .cap{position:absolute;top:0;left:0;width:100%;height:100%;background:url("../images/blank.gif");}
#optionsframework .wrap .data_management .controls{overflow:hidden;padding:8px;margin-bottom:10px;border-radius:3px;}
#optionsframework .wrap .data_management .controls.child_theme{max-height:371px;height:371px;}
#optionsframework .wrap .data_management .controls .child_theme_list{overflow-y:scroll;max-height:339px;min-height:339px;display:block;}
#optionsframework .wrap .data_management .controls.framework_info{padding-bottom:8px !important;max-height:none;}
#optionsframework .wrap .data_management .controls.framework_info input{display:none;}
.data_label:first-child{padding-top:0px;}
.data_label{font-weight:bold;padding:10px 5px 0 7px;display:inline-block;}
.data_management h4{padding-bottom:0px;border-bottom:none; margin: 25px 0 10px 0;}
#optionsframework .data_management p{margin-top: 0; line-height: 1.4em;}
#optionsframework .data_management .controls.child_theme{padding:0;}
#optionsframework .data_management .controls label:hover{background:#E8F6FF;}
#optionsframework .data_management .controls .child_theme_title{background:#ECECEC;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-right:18px;}
#optionsframework .data_management .controls div, #optionsframework .data_management .controls label{border-bottom:1px solid #DDD;display:inline-table;max-width:100%;width:100%;margin:0;}
#optionsframework .data_management .controls label span:first-child{border-left:none;}
#optionsframework .data_management .controls label span, #optionsframework .data_management .controls div span{color:#000;border-left:1px solid #DDD;vertical-align:middle;text-align:center;padding:10px 0;display:table-cell;margin:0;}
#optionsframework .data_management .controls div span, #optionsframework .data_management .controls div{border-top:none;}
#optionsframework .data_management .controls div span:first-child{border-left:none;}
#optionsframework .data_management .controls label span input{margin:0;float:none;}
#optionsframework .data_management .controls .select{width:4%;}
#optionsframework .data_management .controls .child_preview{width:16%;}
#optionsframework .data_management .controls .child_preview img{width:84%;height:auto;padding:0 8%;}
#optionsframework .data_management .controls .name{width:45%;}#optionsframework .data_management .controls .date{width:30%;}
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.update-message{padding: 10px; background: #FFE4E4; font-weight: bold; border: 1px solid #dfdfdf; border-radius: 3px; margin: 5px 0 10px 0;}
.group_options{overflow: hidden; margin-bottom: 10px;}
.group_options .unitu:first-child{margin-left: 0; min-width: 150px;}
.group_options .unitu{display: inline-block; float: left; margin-left:15px; min-width: 100px}
#optionsframework .group_options>.unitu>input.checkbox , #optionsframework .group_options>.unitu>label.explain, #optionsframework .group_options>.unitu>select {margin-bottom: 0;}
#optionsframework .group_options>.unitu>label.explain{margin-top: 5px;}
#optionsframework .group_options>.unitu>input.checkbox {margin-top: 7px;}
header.group_options{padding: 10px 5px; background: #FAFAFA;}
#optionsframework hr{border: none; background: none; border-bottom: 1px solid #DFDFDF;}
#generator_sitemap{margin:10px 0 0 0;}
#optionsframework .checkbox_label [class^="icon_"]{display: inline-block; width: 16px; height: 16px; margin-right: 7px;}
.icon_google{ background: url('../images/icons.png') 0 0 no-repeat;}
.icon_yandex{ background: url('../images/icons.png') -16px 0 no-repeat;}
.icon_yahoo{ background: url('../images/icons.png') -32px 0 no-repeat;}
.icon_bing{ background: url('../images/icons.png') -48px 0 no-repeat;}
.icon_ask{ background: url('../images/icons.png') -64px 0 no-repeat;}
.icon_tagoo{ background: url('../images/icons.png') -80px 0 no-repeat;}
